Repository biobankinguk/biobankinguk, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Search Index, Area: Analytics, Area: Submission API, Area: Data, Area: DataSeed, Area: Directory, Area: Directory Data, Area: LegacyData, Area: Publications, Area: Entities, Contains: Migrations

AB#32095: Updated seed data for harmonization (#149)
  sample-seed-data/MaterialType.json
  sample-seed-data/PreservationType.json
  sample-seed-data/Sex.json
  sample-seed-data/SnomedTag.json
  sample-seed-data/StorageTemperature.json
  src/DataSeed/Services/SeedingService.cs
Labels: Area: DataSeed

AB#32585: AuthorizationPolicy configuration; Endpoint Routing, BasicAuth etc.
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/BasicAuthConstants.cs
  src/Submissions/Api/Startup.cs
Labels: none

tidied up pipeline config
  src/Submissions/Api/Startup.cs
Labels: none

AB#32576: porting BasicAuthHandler to Api to check Authenticate ApiClient credentials
  src/Submissions/Api/Auth/BasicAuthHandler.cs
  src/Submissions/Api/Auth/BasicAuthParsingException.cs
  src/Submissions/Api/Auth/CustomClaimTypes.cs
  src/Submissions/Api/Auth/StringCryptoExtensions.cs
Labels: none

AB#32578: Old Identity middleware moved to API Controller /token endpoint
  src/Submissions/Api/Auth/Crypto.cs
  src/Submissions/Api/Auth/CustomRoles.cs
  src/Submissions/Api/Auth/JwtBearerConstants.cs
  src/Submissions/Api/Config/JwtBearerConfig.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Filters/HangfireDashboardAuthorizationFilter.cs
  src/Submissions/Api/Startup.cs
Labels: none

Migrated from Newtonsoft.Json to System.Text.Json
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Controllers/Domain/CommitController.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/MappingProfiles/ErrorProfile.cs
  src/Submissions/Api/Models/ErrorModel.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/AzFunctions/Functions/SubmissionStagingFunction.cs
  src/Submissions/Core.AzureStorage/AzureBlobWriteService.cs
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Services/DiagnosisWriteService.cs
  src/Submissions/Core/Services/SampleWriteService.cs
  src/Submissions/Core/Services/TreatmentWriteService.cs
Labels: none

BasicAuth improvements - authenticate challenge correctly issued
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/Basic/BasicAuthDefaults.cs
  src/Submissions/Api/Auth/Basic/BasicAuthExtensions.cs
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Auth/Basic/BasicAuthParsingException.cs
  src/Submissions/Api/Auth/Basic/BasicAuthSchemeOptions.cs
  src/Submissions/Api/Auth/BasicAuthConstants.cs
  src/Submissions/Api/Startup.cs
Labels: none

Swagger for token endopint, supports auth, try it out for GET
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Startup.cs
Labels: none

fixing Swagger auth support
  src/Submissions/Api/Auth/SecurityRequirementsOperationFilter.cs
  src/Submissions/Api/Controllers/ErrorController.cs
  src/Submissions/Api/Controllers/StatusController.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Startup.cs
Labels: none

ClientSecret Hashing changes
  src/Submissions/Api/Auth/StringCryptoExtensions.cs
Labels: none

Token Expiry
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Startup.cs
Labels: none

BUG FIX - remove biobank collections from index after deleting
  src/Directory/Services/BiobankWriteService.cs
Labels: Area: Directory

Fixng XML Doc warnings
  src/Data/Data.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/Basic/BasicAuthDefaults.cs
  src/Submissions/Api/Auth/Basic/BasicAuthExtensions.cs
  src/Submissions/Api/Auth/Basic/BasicAuthSchemeOptions.cs
  src/Submissions/Api/Auth/Crypto.cs
  src/Submissions/Api/Auth/CustomClaimTypes.cs
  src/Submissions/Api/Auth/CustomRoles.cs
  src/Submissions/Api/Auth/JwtBearerConstants.cs
  src/Submissions/Api/Auth/SecurityRequirementsOperationFilter.cs
  src/Submissions/Api/Auth/StringCryptoExtensions.cs
  src/Submissions/Api/Config/JwtBearerConfig.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Utils.cs
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Core.csproj
Labels: Area: Data

AB#32498: Submissions Token Provider (#150)
  src/Data/Data.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/Basic/BasicAuthDefaults.cs
  src/Submissions/Api/Auth/Basic/BasicAuthExtensions.cs
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Auth/Basic/BasicAuthParsingException.cs
  src/Submissions/Api/Auth/Basic/BasicAuthSchemeOptions.cs
  src/Submissions/Api/Auth/Crypto.cs
  src/Submissions/Api/Auth/CustomClaimTypes.cs
  src/Submissions/Api/Auth/CustomRoles.cs
  src/Submissions/Api/Auth/JwtBearerConstants.cs
  src/Submissions/Api/Auth/SecurityRequirementsOperationFilter.cs
  src/Submissions/Api/Auth/StringCryptoExtensions.cs
  src/Submissions/Api/Config/JwtBearerConfig.cs
  src/Submissions/Api/Controllers/Domain/CommitController.cs
  src/Submissions/Api/Controllers/ErrorController.cs
  src/Submissions/Api/Controllers/StatusController.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Filters/HangfireDashboardAuthorizationFilter.cs
  src/Submissions/Api/MappingProfiles/ErrorProfile.cs
  src/Submissions/Api/Models/ErrorModel.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/Utils.cs
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/AzFunctions/Functions/SubmissionStagingFunction.cs
  src/Submissions/Core.AzureStorage/AzureBlobWriteService.cs
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Core.csproj
  src/Submissions/Core/Services/DiagnosisWriteService.cs
  src/Submissions/Core/Services/SampleWriteService.cs
  src/Submissions/Core/Services/TreatmentWriteService.cs
Labels: Area: Data

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .azure/pipelines/**/*
  - .github/**/*
"Area: Search Index":
  - elastic-search/**/*
"Area: Analytics":
  - src/Analytics/**/*
"Area: Submission API":
  - src/Api/**/*
"Area: Data":
  - src/Data/**/*
"Area: DataSeed":
  - src/DataSeed/**/*
"Area: Directory":
  - src/Directory/**/*
"Area: Directory Data":
  - src/Directory/Data/**/*
"Area: LegacyData":
  - src/LegacyData/**/*
"Area: Publications":
  - src/Publications/**/*
"Area: Entities":
  - src/Entities/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - src/**/Migrations/*.cs
