Repository biobankinguk/biobankinguk, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Core, Area: Elastic Search, Area: Analytics, Area: Directory, Area: Submissions, Area: Data, Area: Publications, Area: Aggregator, Area: Docs, Contains: Migrations, Contains: Search Index

Implemetned runner content for set password
  app/Directory/Commands/Runners/SetPassword.cs
  app/Directory/Commands/SetPassword.cs
Labels: Area: Directory

Logger fix and setting new command
  app/Directory/Commands/Runners/SetPassword.cs
  app/Directory/Startup/Cli/CliEntrypoint.cs
Labels: Area: Directory

Tawk.to purged
  app/Directory/Views/Home/Cookies.cshtml
  app/Directory/Views/Shared/_Layout.cshtml
Labels: Area: Directory

Logs for errors in changing password (usually due to failing password reqs).
  app/Directory/Commands/Runners/SetPassword.cs
Labels: Area: Directory

Password readme notes
  docs/docs/dev/cli/users.md
Labels: Area: Docs

Updated actions and worfkflows to use npm20 and newest actions (pray they don't break)
  .github/actions/template.pnpm-install/action.yml
  .github/workflows/build.directory.yml
  .github/workflows/build.docs.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/label.yml
  .github/workflows/pr.check.work-item-ref.yml
  .github/workflows/publish.directory.yml
  .github/workflows/release.directory.yml
Labels: Area: CI

Updated pnpm
  package.json
Labels: none

PNPM update locally
  package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Core":
  - lib/Core/**/*
"Area: Elastic Search":
  - elastic-search/**/*
"Area: Analytics":
  - lib/Core/Analytics/**/*
  - lib/Core/Jobs/AnalyticsJob.cs
"Area: Directory":
  - app/Directory/**/*
"Area: Submissions":
  - lib/Core/Submissions/**/*
  - lib/Core/Jobs/RejectJob.cs
  - lib/Core/Jobs/ExpiryJob.cs
  - lib/Core/Jobs/CommitJob.cs
  - lib/Core/Jobs/StagingJob.cs
"Area: Data":
  - lib/Data/**/*
"Area: Publications":
  - lib/Core/Publications/**/*
  - lib/Core/Jobs/PublicationsJob.cs
"Area: Aggregator":
  - lib/Core/Aggregator/**/*
  - lib/Core/Jobs/AggregatorJob.cs
"Area: Docs":
  - docs/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - lib/**/Migrations/*.cs
"Contains: Search Index":
  - "elastic-search/directory index setup/*"
