Repository biobankinguk/biobankinguk, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Core, Area: Elastic Search, Area: Analytics, Area: Directory, Area: Submissions, Area: Data, Area: Publications, Area: Aggregator, Area: Docs, Contains: Migrations, Contains: Search Index

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Core":
  - lib/Core/**/*
"Area: Elastic Search":
  - elastic-search/**/*
"Area: Analytics":
  - lib/Core/Analytics/**/*
  - lib/Core/Jobs/AnalyticsJob.cs
"Area: Directory":
  - app/Directory/**/*
"Area: Submissions":
  - lib/Core/Submissions/**/*
  - lib/Core/Jobs/RejectJob.cs
  - lib/Core/Jobs/ExpiryJob.cs
  - lib/Core/Jobs/CommitJob.cs
  - lib/Core/Jobs/StagingJob.cs
"Area: Data":
  - lib/Data/**/*
"Area: Publications":
  - lib/Core/Publications/**/*
  - lib/Core/Jobs/PublicationsJob.cs
"Area: Aggregator":
  - lib/Core/Aggregator/**/*
  - lib/Core/Jobs/AggregatorJob.cs
"Area: Docs":
  - docs/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - lib/**/Migrations/*.cs
"Contains: Search Index":
  - "elastic-search/directory index setup/*"

updating pr check to relax work item id format
  .github/workflows/pr.check.work-item-ref.yml
Labels: Area: CI

remove version manifest stuff
  .github/actions/version-manifest/README.md
  .github/actions/version-manifest/action.yml
  .github/actions/version-manifest/dist/index.js
  .github/actions/version-manifest/dist/licenses.txt
  .github/actions/version-manifest/index.js
  .github/actions/version-manifest/package-lock.json
  .github/actions/version-manifest/package.json
  version.yml
Labels: Area: CI

updating `build.directory` workflow to build the main net6 app
  .github/workflows/build.directory.yml
Labels: Area: CI

putting versioning back in the primary app csproj
  app/Directory/Directory.csproj
Labels: Area: Directory

docs updates
  LICENSE.md
  README.md
  docs/docusaurus.config.js
Labels: Area: Docs

wip directory publish workflow
  .github/workflows/build.directory.yml
  .github/workflows/publish.directory.yml
Labels: Area: CI

pr template update
  .github/pull_request_template.md
Labels: Area: CI

syntax fixes
  .github/workflows/publish.directory.yml
Labels: Area: CI

syntax fixes
  .github/workflows/publish.directory.yml
Labels: Area: CI

syntax fixes
  .github/workflows/publish.directory.yml
Labels: Area: CI

trying to fix syntax
  .github/workflows/publish.directory.yml
Labels: Area: CI

syntax fixes
  .github/workflows/publish.directory.yml
Labels: Area: CI

possible syntax fixes
  .github/workflows/publish.directory.yml
Labels: Area: CI

csproj swagger fix
  app/Directory/Directory.csproj
Labels: Area: Directory

forgot to install ef tools before trying to use them
  .github/workflows/publish.directory.yml
Labels: Area: CI

pnpm install needed; using template action
  .github/actions/template.pnpm-install/action.yml
  .github/workflows/build.directory.yml
  .github/workflows/build.docs.yml
  .github/workflows/publish.directory.yml
Labels: Area: CI

fixing docs pnpm installs, logging for migrations bundles
  .github/workflows/build.directory.yml
  .github/workflows/build.docs.yml
  .github/workflows/label.yml
  .github/workflows/publish.directory.yml
  .github/workflows/publish.docs.yml
Labels: Area: CI

fixing migrations artifcat upload
  .github/workflows/publish.directory.yml
Labels: Area: CI

minor docs update
  docs/docs/dev/getting-started/index.md
Labels: Area: Docs

remove triggers from the old release workflow
  .github/workflows/main.release.yml
Labels: Area: CI

remove test triggers from publish workflow
  .github/workflows/publish.directory.yml
Labels: Area: CI

workflow naming
  .github/workflows/build.docs.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/pr.check.work-item-ref.yml
Labels: Area: CI

old release workflow manually triggered only
  .github/workflows/main.release.yml
Labels: Area: CI

Added json index publications file
  elastic-search/directory index setup/publications.json
Labels: Area: Elastic Search, Contains: Search Index

docs update
  docs/docs/dev/getting-started/index.md
Labels: Area: Docs

dismantling biobankread and biobankwrite services
  app/Directory/Areas/Admin/Controllers/BiobanksController.cs
  app/Directory/Areas/Admin/Controllers/ReferenceDataController.cs
  app/Directory/Areas/Biobank/Controllers/ProfileController.cs
  app/Directory/Areas/Biobank/Controllers/SettingsController.cs
  app/Directory/Areas/Network/Controllers/ProfileController.cs
  app/Directory/Auth/AuthPolicies.cs
  app/Directory/Controllers/Directory/LogoController.cs
  app/Directory/Controllers/Directory/ProfileController.cs
  app/Directory/Services/Directory/BiobankAuthorizationService.cs
  app/Directory/Services/Directory/BiobankReadService.cs
  app/Directory/Services/Directory/BiobankService.cs
  app/Directory/Services/Directory/BiobankWriteService.cs
  app/Directory/Services/Directory/Contracts/IBiobankAuthorizationService.cs
  app/Directory/Services/Directory/Contracts/IBiobankReadService.cs
  app/Directory/Services/Directory/Contracts/IBiobankService.cs
  app/Directory/Services/Directory/Contracts/IBiobankWriteService.cs
  app/Directory/Services/Directory/Contracts/ILogoService.cs
  app/Directory/Services/Directory/Contracts/ILogoStorageProvider.cs
  app/Directory/Services/Directory/Contracts/IMaterialTypeService.cs
  app/Directory/Services/Directory/LogoService.cs
  app/Directory/Services/Directory/MaterialTypeService.cs
  app/Directory/Services/Directory/SqlServerLogoStorageProvider.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
Labels: Area: Directory

AB#84964 Workflow fixes (#572)
  .github/actions/template.pnpm-install/action.yml
  .github/actions/version-manifest/README.md
  .github/actions/version-manifest/action.yml
  .github/actions/version-manifest/dist/index.js
  .github/actions/version-manifest/dist/licenses.txt
  .github/actions/version-manifest/index.js
  .github/actions/version-manifest/package-lock.json
  .github/actions/version-manifest/package.json
  .github/pull_request_template.md
  .github/workflows/build.directory.yml
  .github/workflows/build.docs.yml
  .github/workflows/deploy.docs.yml
  .github/workflows/label.yml
  .github/workflows/main.release.yml
  .github/workflows/pr.check.work-item-ref.yml
  .github/workflows/publish.directory.yml
  LICENSE.md
  README.md
  app/Directory/Directory.csproj
  docs/docs/dev/getting-started/index.md
  docs/docusaurus.config.js
  version.yml
Labels: Area: CI, Area: Directory, Area: Docs

AB#38999: Retire Read and Write service (#568)
  app/Directory/Areas/Admin/Controllers/BiobanksController.cs
  app/Directory/Areas/Admin/Controllers/ReferenceDataController.cs
  app/Directory/Areas/Biobank/Controllers/ProfileController.cs
  app/Directory/Areas/Biobank/Controllers/SettingsController.cs
  app/Directory/Areas/Network/Controllers/ProfileController.cs
  app/Directory/Auth/AuthPolicies.cs
  app/Directory/Controllers/Directory/LogoController.cs
  app/Directory/Controllers/Directory/ProfileController.cs
  app/Directory/Services/Directory/BiobankAuthorizationService.cs
  app/Directory/Services/Directory/BiobankReadService.cs
  app/Directory/Services/Directory/BiobankService.cs
  app/Directory/Services/Directory/BiobankWriteService.cs
  app/Directory/Services/Directory/Contracts/IBiobankAuthorizationService.cs
  app/Directory/Services/Directory/Contracts/IBiobankReadService.cs
  app/Directory/Services/Directory/Contracts/IBiobankService.cs
  app/Directory/Services/Directory/Contracts/IBiobankWriteService.cs
  app/Directory/Services/Directory/Contracts/ILogoService.cs
  app/Directory/Services/Directory/Contracts/ILogoStorageProvider.cs
  app/Directory/Services/Directory/Contracts/IMaterialTypeService.cs
  app/Directory/Services/Directory/LogoService.cs
  app/Directory/Services/Directory/MaterialTypeService.cs
  app/Directory/Services/Directory/SqlServerLogoStorageProvider.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
Labels: Area: Directory

aligning old Directory config values and more consistently using OptionsModels for defaults
  app/Directory/Auth/JwtBearerConstants.cs
  app/Directory/Config/AnnualStatisticsOptions.cs
  app/Directory/Config/ElasticsearchConfig.cs
  app/Directory/Config/HangfireOptions.cs
  app/Directory/Config/PublicationsOptions.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
  app/Directory/Views/Register/EditorTemplates/RegisterEntityModel.cshtml
  app/Directory/appsettings.json
Labels: Area: Directory

documenting config
  docs/docs/installation/directory-configuration.md
Labels: Area: Docs

fixing wordpress navbar config
  app/Directory/ViewComponents/HeaderViewComponent.cs
Labels: Area: Directory

further config docs
  docs/docs/installation/directory-configuration.md
Labels: Area: Docs

more config default simplification
  app/Directory/appsettings.Development.json
Labels: Area: Directory

fixing footer config use
  app/Directory/Models/Footer/FooterModel.cs
  app/Directory/Views/Shared/Components/Footer/Default.cshtml
Labels: Area: Directory

fixing errors i introduced ;)
  app/Directory/Areas/Biobank/Controllers/ProfileController.cs
  app/Directory/Areas/Biobank/Views/Profile/AnnualStats.cshtml
  app/Directory/Services/Directory/BiobankIndexService.cs
  app/Directory/Views/Profile/Biobank.cshtml
Labels: Area: Directory

AB#97389: Core Directory config changes (#573)
  app/Directory/Areas/Biobank/Controllers/ProfileController.cs
  app/Directory/Areas/Biobank/Views/Profile/AnnualStats.cshtml
  app/Directory/Auth/JwtBearerConstants.cs
  app/Directory/Config/AnnualStatisticsOptions.cs
  app/Directory/Config/ElasticsearchConfig.cs
  app/Directory/Config/HangfireOptions.cs
  app/Directory/Config/PublicationsOptions.cs
  app/Directory/Models/Footer/FooterModel.cs
  app/Directory/Services/Directory/BiobankIndexService.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
  app/Directory/ViewComponents/HeaderViewComponent.cs
  app/Directory/Views/Profile/Biobank.cshtml
  app/Directory/Views/Register/EditorTemplates/RegisterEntityModel.cshtml
  app/Directory/Views/Shared/Components/Footer/Default.cshtml
  app/Directory/appsettings.Development.json
  app/Directory/appsettings.json
  docs/docs/installation/directory-configuration.md
Labels: Area: Directory, Area: Docs

i fixed the header and footer viewcomponents
  app/Directory/Settings/footer.json
  app/Directory/Views/Shared/_Layout.cshtml
  app/Directory/Views/_ViewImports.cshtml
  pnpm-lock.yaml
Labels: Area: Directory

AB#97389: fixed the Header and Footer ViewComponents (#574)
  app/Directory/Settings/footer.json
  app/Directory/Views/Shared/_Layout.cshtml
  app/Directory/Views/_ViewImports.cshtml
  pnpm-lock.yaml
Labels: Area: Directory

replacing the public "no logo" placeholder with a more neutral one
  app/Directory/Frontend/css/nav.css
  app/Directory/wwwroot/images/NoLogoPublic.png
Labels: Area: Directory

AB#58972: logo branding changes (#575)
  app/Directory/Frontend/css/nav.css
  app/Directory/wwwroot/images/NoLogoPublic.png
Labels: Area: Directory
