Repository biobankinguk/biobankinguk, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: CI, Area: Core, Area: Elastic Search, Area: Analytics, Area: Directory, Area: Submissions, Area: Data, Area: Publications, Area: Aggregator, Area: Docs, Contains: Migrations, Contains: Search Index

manually triggered github release workflow
  .github/workflows/main.release.yml
  .github/workflows/release.directory.yml
  app/Directory/Directory.csproj
Labels: Area: CI, Area: Directory

AB#84965: manually triggered github release workflow (#576)
  .github/workflows/main.release.yml
  .github/workflows/release.directory.yml
  app/Directory/Directory.csproj
Labels: Area: CI, Area: Directory

image paths in alt views
  app/Directory/Views/Home/AltIndex.cshtml
  app/Directory/Views/Home/_AltUnifiedSearchBox.cshtml
Labels: Area: Directory

version++
  app/Directory/Directory.csproj
Labels: Area: Directory

AB#97432: Alt view fixes (#577)
  app/Directory/Directory.csproj
  app/Directory/Views/Home/AltIndex.cshtml
  app/Directory/Views/Home/_AltUnifiedSearchBox.cshtml
Labels: Area: Directory

fixing copying search index definitions over
  app/Directory/Directory.csproj
  app/Directory/Services/Directory/BiobankIndexService.cs
  app/Directory/Settings/.gitignore
Labels: Area: Directory

AB#97432: fixing copying search index definitions over (#578)
  app/Directory/Directory.csproj
  app/Directory/Services/Directory/BiobankIndexService.cs
  app/Directory/Settings/.gitignore
Labels: Area: Directory

Update improve spacing
  app/Directory/Views/Search/Capabilities.cshtml
  app/Directory/Views/Search/Collections.cshtml
Labels: Area: Directory

Add search request link
  app/Directory/Views/Search/Capabilities.cshtml
  app/Directory/Views/Search/Collections.cshtml
  app/Directory/Views/Search/NoResults.cshtml
Labels: Area: Directory

Added missing entities for default seeding
  sample-seed-data/CollectionPoint.json
  sample-seed-data/Diagnosis.json
Labels: none

release workflow should allow optional custom tags now
  .github/workflows/release.directory.yml
Labels: Area: CI

fixing release workflow tags
  .github/workflows/release.directory.yml
Labels: Area: CI

made the contact form link configurable and conditional
  app/Directory/Config/SitePropertiesOptions.cs
  app/Directory/Views/Search/Capabilities.cshtml
  app/Directory/Views/Search/Collections.cshtml
  app/Directory/Views/Search/NoResults.cshtml
Labels: Area: Directory

possible recaptcha fix
  app/Directory/Services/Directory/RecaptchaService.cs
Labels: Area: Directory

updating Elastic Search to support ApiKey auth
  app/Directory/Config/ElasticsearchConfig.cs
  app/Directory/Controllers/Directory/SearchController.cs
  app/Directory/Search/Elastic/ElasticCapabilityIndexProvider.cs
  app/Directory/Search/Elastic/ElasticCapabilitySearchProvider.cs
  app/Directory/Search/Elastic/ElasticCollectionIndexProvider.cs
  app/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
Labels: Area: Directory

Revert "updating Elastic Search to support ApiKey auth"
  app/Directory/Config/ElasticsearchConfig.cs
  app/Directory/Controllers/Directory/SearchController.cs
  app/Directory/Search/Elastic/ElasticCapabilityIndexProvider.cs
  app/Directory/Search/Elastic/ElasticCapabilitySearchProvider.cs
  app/Directory/Search/Elastic/ElasticCollectionIndexProvider.cs
  app/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  app/Directory/Startup/Web/ConfigureWebServices.cs
Labels: Area: Directory

vanilla REST calls to Elastic now support credentials
  app/Directory/Services/Directory/BiobankIndexService.cs
Labels: Area: Directory

AB#97432: Find form addition (#579)
  .github/workflows/release.directory.yml
  app/Directory/Config/SitePropertiesOptions.cs
  app/Directory/Services/Directory/BiobankIndexService.cs
  app/Directory/Services/Directory/RecaptchaService.cs
  app/Directory/Views/Search/Capabilities.cshtml
  app/Directory/Views/Search/Collections.cshtml
  app/Directory/Views/Search/NoResults.cshtml
  sample-seed-data/CollectionPoint.json
  sample-seed-data/Diagnosis.json
Labels: Area: CI, Area: Directory

Minor changes to navbar json
  app/Directory/Settings/navigation.json
Labels: Area: Directory

Package and proj updates
  app/Directory/Directory.csproj
  lib/Core/Core.csproj
  lib/Data/Data.csproj
  lib/Omop/Omop.csproj
Labels: Area: Core, Area: Directory, Area: Data

Whole number version updates (for non ef packages)
  app/Directory/Directory.csproj
  lib/Core/Core.csproj
Labels: Area: Core, Area: Directory

Fix for routing (broke in .net 7)
  app/Directory/Directory.csproj
  app/Directory/Startup/Web/ConfigureWebServices.cs
Labels: Area: Directory

build/publish updates
  .config/dotnet-tools.json
  .github/workflows/build.directory.yml
  .github/workflows/publish.directory.yml
Labels: Area: CI

AB#157156: Update to Net8 (#582)
  .config/dotnet-tools.json
  .github/workflows/build.directory.yml
  .github/workflows/publish.directory.yml
  app/Directory/Directory.csproj
  app/Directory/Startup/Web/ConfigureWebServices.cs
  lib/Core/Core.csproj
  lib/Data/Data.csproj
  lib/Omop/Omop.csproj
Labels: Area: CI, Area: Core, Area: Directory, Area: Data

bumping local dev elastic search version
  elastic-search/docker-compose.yml
Labels: Area: Elastic Search

updated local elastic docker compose
  elastic-search/docker-compose.yml
Labels: Area: Elastic Search

formatting for sanity
  app/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
Labels: Area: Directory

support opting into case-insensitive matching on ontologyterms, and use this functionality for typeahead searches only.
  app/Directory/Controllers/Directory/SearchController.cs
  app/Directory/Services/Directory/Contracts/IOntologyTermService.cs
  app/Directory/Services/Directory/OntologyTermService.cs
Labels: Area: Directory

version++
  app/Directory/Directory.csproj
Labels: Area: Directory

AB#157605: OntologyTerm matching (Typeahead) fixes (#586)
  app/Directory/Controllers/Directory/SearchController.cs
  app/Directory/Directory.csproj
  app/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  app/Directory/Services/Directory/Contracts/IOntologyTermService.cs
  app/Directory/Services/Directory/OntologyTermService.cs
  elastic-search/docker-compose.yml
Labels: Area: Elastic Search, Area: Directory

Split out bundle configs, added new bundles for associated data and included new bundles for collections and capabilities
  app/Directory/Areas/Biobank/Views/Capabilities/AddCapability.cshtml
  app/Directory/Areas/Biobank/Views/Capabilities/EditCapability.cshtml
  app/Directory/Areas/Biobank/Views/Collections/AddCollection.cshtml
  app/Directory/Areas/Biobank/Views/Collections/EditCollection.cshtml
  app/Directory/bundleconfig.json
Labels: Area: Directory

Associated Data Time Selection fix (#592)
  app/Directory/Areas/Biobank/Views/Capabilities/AddCapability.cshtml
  app/Directory/Areas/Biobank/Views/Capabilities/EditCapability.cshtml
  app/Directory/Areas/Biobank/Views/Collections/AddCollection.cshtml
  app/Directory/Areas/Biobank/Views/Collections/EditCollection.cshtml
  app/Directory/bundleconfig.json
Labels: Area: Directory

Added checks for extraction procedure existing, and changed EP to match other ref data in the form of radio buttons
  app/Directory/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
  app/Directory/Areas/Biobank/Views/Collections/_SampleSetSharedFields.cshtml
Labels: Area: Directory

AB#75938: Material Details Preservation - Correcting Extraction Procedures (#595)
  app/Directory/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
  app/Directory/Areas/Biobank/Views/Collections/_SampleSetSharedFields.cshtml
Labels: Area: Directory

Missed view line change in last PR
  app/Directory/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
Labels: Area: Directory

AB#168010: Material preservation detail extraction proc (#596)
  app/Directory/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
Labels: Area: Directory

Updated version property for workflow
  app/Directory/Directory.csproj
Labels: Area: Directory

AB#169544: Updated version property for workflow (#597)
  app/Directory/Directory.csproj
Labels: Area: Directory

Missing min for diagnosis typeahead bundle
  app/Directory/Areas/Biobank/Views/Capabilities/AddCapability.cshtml
  app/Directory/Areas/Biobank/Views/Capabilities/EditCapability.cshtml
  app/Directory/Areas/Biobank/Views/Collections/AddCollection.cshtml
  app/Directory/Areas/Biobank/Views/Collections/EditCollection.cshtml
Labels: Area: Directory

Start of new command line to set password
  app/Directory/Commands/Runners/SetPassword.cs
  app/Directory/Commands/SetPassword.cs
Labels: Area: Directory

.github/labeler.yml:

# label affected logical areas of the repo
"Area: CI":
  - .github/**/*
"Area: Core":
  - lib/Core/**/*
"Area: Elastic Search":
  - elastic-search/**/*
"Area: Analytics":
  - lib/Core/Analytics/**/*
  - lib/Core/Jobs/AnalyticsJob.cs
"Area: Directory":
  - app/Directory/**/*
"Area: Submissions":
  - lib/Core/Submissions/**/*
  - lib/Core/Jobs/RejectJob.cs
  - lib/Core/Jobs/ExpiryJob.cs
  - lib/Core/Jobs/CommitJob.cs
  - lib/Core/Jobs/StagingJob.cs
"Area: Data":
  - lib/Data/**/*
"Area: Publications":
  - lib/Core/Publications/**/*
  - lib/Core/Jobs/PublicationsJob.cs
"Area: Aggregator":
  - lib/Core/Aggregator/**/*
  - lib/Core/Jobs/AggregatorJob.cs
"Area: Docs":
  - docs/**/*

# label types of changes contained in a PR
"Contains: Migrations":
  - lib/**/Migrations/*.cs
"Contains: Search Index":
  - "elastic-search/directory index setup/*"
