Repository biobankinguk/biobankinguk, pull requests merged in 2021-04, with the labels that each got.

#170 AB#33311: Fixing Publications/Analytics for Linux
  src/Analytics/AzureFunctions/Startup.cs
  src/Analytics/Services/AnalyticsReportGenerator.cs
  src/Analytics/Services/GoogleAnalyticsReadService.cs
  src/Analytics/readme.md
  src/Publications/PublicationsAzureFunctions/Startup.cs
  src/Publications/README.md
Labels: Area: Analytics, Area: Publications

#176 AB#33486: 📝 Readme updates
  README.md
  src/Directory/readme.md
Labels: Area: Directory

#177 AB#32943: Publicly display the version
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/VersionController.cs
  src/Directory/Biobanks.Web/HtmlHelpers/VersionHelper.cs
  src/Directory/Biobanks.Web/Utilities/VersionHelper.cs
Labels: Area: Directory

#178 AB#32943: Added AllowAnonymous to the VersionController
  src/Directory/Biobanks.Web/Controllers/VersionController.cs
Labels: Area: Directory

#180 AB#33510: Added the connection property to the QueueTrigger
  src/Submissions/AzFunctions/Functions/SubmissionStagingFunction.cs
Labels: Area: Submissions

#179 AB#32946: Added version reporting to DataSeed
  src/DataSeed/DataSeed.csproj
  src/DataSeed/Program.cs
  src/DataSeed/Properties/launchSettings.json
  src/DataSeed/packages.lock.json
Labels: Area: DataSeed

#171 AB#32197: Move contact list onto main nav bar (TDCC)
  src/Directory/Biobanks.Web/App_Config/navigation.json
  src/Directory/Biobanks.Web/Content/Site/nav.css
  src/Directory/Biobanks.Web/Models/Header/NavItemModel.cs
  src/Directory/Biobanks.Web/Scripts/Home/home-contactlist.js
  src/Directory/Biobanks.Web/Views/Header/_NavMenu.cshtml
  src/Directory/Biobanks.Web/Views/Shared/_BBHeader.cshtml
Labels: Area: Directory

#182 AB#29888: Create Aggregator Function App and Workflow
  .github/labeler.yml
  .github/workflows/build.aggregator.azfunctions.yml
  src/Aggregator/Aggregator.sln
  src/Aggregator/AzFunctions/AzFunctions.csproj
  src/Aggregator/AzFunctions/Functions/Function1.cs
  src/Aggregator/AzFunctions/Program.cs
  src/Aggregator/AzFunctions/Properties/launchSettings.json
  src/Aggregator/AzFunctions/Startup.cs
  src/Aggregator/AzFunctions/Types/ScheduleStatus.cs
  src/Aggregator/AzFunctions/Types/TimerInfo.cs
  src/Aggregator/AzFunctions/host.json
  src/Aggregator/Core/Class1.cs
  src/Aggregator/Core/Core.csproj
Labels: Area: Aggregator, Area: CI

#185 AB#29888: Fix Aggregator Build Warnings
  src/Aggregator/Aggregator.sln
  src/Aggregator/AzFunctions/Functions/Function1.cs
  src/Data/Data.csproj
Labels: Area: Aggregator, Area: Data

#184 AB#31168: Release workflow changes for deployment pipelines
  .github/actions/version-manifest/action.yml
  .github/actions/version-manifest/dist/index.js
  .github/actions/version-manifest/index.js
  .github/workflows/main.release.yml
Labels: Area: CI

#186 AB#33679: Added git commit hash into build version numbers
  .github/workflows/main.release.yml
Labels: Area: CI

#172 AB#32511: Age ranges UI changes
  src/Directory/Biobanks.Web/ApiControllers/AgeRangeController.cs
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/AgeRangesModel.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-age-ranges.js
  src/Directory/Biobanks.Web/Views/ADAC/AgeRanges.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory

#190 AB#32651: Flags for samples added to live tables
  src/Submissions/Api/Consts/SqlConsts.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Services/CommitService.cs
  src/Submissions/Core/Services/SampleValidationService.cs
Labels: Area: Submissions

#192 AB#33995: Added deletion for material details within delete sample set method
  src/Directory/Services/BiobankWriteService.cs
Labels: Area: Directory

#195 AB#34045: Submission sample not adding to queue fix
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Models/SampleSubmissionModel.cs
Labels: Area: Submissions

#194 AB#33172: Credentials Generator
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/SubmissionsModel.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/help-popups.js
  src/Directory/Biobanks.Web/Scripts/Biobank/submissions.js
  src/Directory/Biobanks.Web/Views/Biobank/Submissions.cshtml
  src/Directory/Biobanks.Web/packages.config
  src/Directory/Directory.sln
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
  src/Directory/Services/Services.csproj
  src/Directory/Services/packages.lock.json
Labels: Area: Data, Area: Directory, Area: Entities, Contains: Migrations

#196 AB#32594: Submission live function
  src/Submissions/Api/Controllers/Domain/CommitController.cs
  src/Submissions/Api/Services/AzureQueueService.cs
  src/Submissions/Api/Services/Contracts/IBackgroundJobEnqueueingService.cs
  src/Submissions/Api/Services/HangfireQueueService.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/AzFunctions/Functions/SubmissionCommitFunction.cs
  src/Submissions/AzFunctions/Functions/SubmissionStagingFunction.cs
  src/Submissions/AzFunctions/Startup.cs
  src/Submissions/Core/Consts/SqlConsts.cs
  src/Submissions/Core/Models/CommitQueueItem.cs
  src/Submissions/Core/Services/CommitService.cs
  src/Submissions/Core/Services/Contracts/ICommitService.cs
Labels: Area: Submissions

#197 AB#34185: Fixing Biobank Models/Objects to deal with CollectionTypeId & AccessConditionId
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/BiobankDetailsModel.cs
  src/Directory/Biobanks.Web/Views/Biobank/Edit.cshtml
  src/Directory/Services/Dto/OrganisationDTO.cs
Labels: Area: Directory

#198 AB#34188: Fix issue with valid MaterialTypes being rejected
  src/Submissions/Core/Services/ReferenceDataReadService.cs
Labels: Area: Submissions

#200 AB#32516: Backwards compatibility - Storage Temperatures
  src/Submissions/AzFunctions/Program.cs
  src/Submissions/AzFunctions/Startup.cs
  src/Submissions/Core/Models/OptionsModels/StorageTemperatureLegacyModel.cs
  src/Submissions/Core/Services/SampleValidationService.cs
  src/Submissions/Core/Settings/LegacyStorageTemperatures.json
Labels: Area: Submissions

#201 AB#34189: Replace reject service with background queue service.
  src/Submissions/Api/Controllers/Domain/RejectController.cs
  src/Submissions/Api/Services/AzureQueueService.cs
  src/Submissions/Api/Services/Contracts/IBackgroundJobEnqueueingService.cs
  src/Submissions/Api/Services/HangfireQueueService.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/AzFunctions/Functions/SubmissionCommitFunction.cs
  src/Submissions/AzFunctions/Functions/SubmissionsRejectFunction.cs
  src/Submissions/Core/Models/RejectQueueItem.cs
  src/Submissions/Core/Services/Contracts/IRejectService.cs
  src/Submissions/Core/Services/RejectService.cs
Labels: Area: Submissions

#203 AB#32517: Backwards Compatibility - Material Types
  src/Submissions/AzFunctions/Program.cs
  src/Submissions/AzFunctions/Startup.cs
  src/Submissions/Core/Models/OptionsModels/MaterialTypesLegacyModel.cs
  src/Submissions/Core/Services/SampleValidationService.cs
  src/Submissions/Core/Settings/LegacyMaterialTypes.json
Labels: Area: Submissions

#202 AB#32394: Generate password reset links in Biobanks area
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Content/Site/Site.css
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/ResetPasswordEntityModel.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-biobanks.js
  src/Directory/Biobanks.Web/Views/ADAC/BiobankAdmin.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/_ModalResetPassword.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory

#206 AB#34387: Fix to CreateContentPage Migration
  src/Data/Migrations/20210427161809_CreateContentPage.Designer.cs
  src/Data/Migrations/20210427161809_CreateContentPage.cs
  src/Data/Migrations/BiobanksDbContextModelSnapshot.cs
Labels: Area: Data, Contains: Migrations

#208 AB#34310: Sample sets not being deleted on cold start
  src/Aggregator/Core/AggregationTask.cs
  src/Aggregator/Core/Services/Contracts/ISampleService.cs
  src/Aggregator/Core/Services/SampleService.cs
Labels: Area: Aggregator, Area: Data

#209 AB#34112: Delete Old Azure Pipelines
  .azure/pipelines/build.analytics.yml
  .azure/pipelines/build.dataseed.yml
  .azure/pipelines/build.directory.yml
  .azure/pipelines/build.publications.yml
  .azure/pipelines/build.submissions.api.yml
  .azure/pipelines/build.submissions.functions.yml
  .azure/pipelines/build.submissions.identity.yml
  .azure/pipelines/job.build.data.yml
  README.md
  elastic-search/AZURE.md
  src/Analytics/readme.md
  src/Publications/README.md
  src/Publications/readme/azure-create-functions-app.png
  src/Publications/readme/azure-create-key-vault.png
  src/Publications/readme/azure-create-sql-database.png
  src/Publications/readme/azure-environment.png
  src/Publications/readme/azure-function-settings.png
  src/Publications/readme/azure-key-vault-policy.png
  src/Publications/readme/devops-pipeline-variables.png
Labels: Area: Analytics, Area: CI, Area: Elastic Search, Area: Publications

#210 AB#34564: MaterialDetails FK Constraint Bug
  src/Aggregator/Core/AggregationTask.cs
  src/Aggregator/Core/Services/AggregationService.cs
  src/Aggregator/Core/Services/Contracts/IAggregationService.cs
Labels: Area: Aggregator

#212 AB#33871: Aggregator Artifact Workflow
  .github/workflows/main.release.yml
Labels: Area: CI
