Repository biobankinguk/biobankinguk, pull requests merged in 2021-11, with the labels that each got.

#347 AB#45955: Analytics Query Fix
  src/Core/Analytics/Services/ReportDataTransformationService.cs
Labels: Area: Analytics, Area: Core

#348 AB#41300: Analytics Terms Bug
  src/Core/Analytics/Services/GoogleAnalyticsReportingService.cs
  src/Directory/Biobanks.Web/Views/Search/Collections.cshtml
Labels: Area: Directory, Area: Analytics, Area: Core

#349 AB#43745: Couldn't create disease status
  src/Directory/Services/OntologyTermService.cs
Labels: Area: Directory

#350 AB#42594: Alternate home page
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/HomeController.cs
  src/Directory/Biobanks.Web/Models/Footer/FooterModel.cs
  src/Directory/Biobanks.Web/Models/Home/HompageContentModel.cs
  src/Directory/Biobanks.Web/Views/Home/AltIndex.cshtml
  src/Directory/Biobanks.Web/Views/Home/_AltUnifiedSearchBox.cshtml
  src/Directory/Biobanks.Web/Views/Shared/_BBFooter.cshtml
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Biobanks.Web/Windsor/WindsorInstaller.cs
  src/Directory/Data/Configs/ConfigKey.cs
Labels: Area: Directory, Area: Directory Data

#351 AB#42594: Removed duplicated service registrations.
  src/Directory/Biobanks.Web/Windsor/WindsorInstaller.cs
Labels: Area: Directory

#352 AB#42594: Added missing views
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
Labels: Area: Directory
