Repository biobankinguk/biobankinguk, pull requests merged in 2021-07, with the labels that each got.

#278 AB#35720: Diagnosis Status DisplayOnDirectory UI
  src/Directory/Biobanks.Web/ApiControllers/DiseaseStatusController.cs
  src/Directory/Biobanks.Web/ApiControllers/ExtractionProcedureController.cs
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/SearchController.cs
  src/Directory/Biobanks.Web/Models/ADAC/ReadOntologyTermModel.cs
  src/Directory/Biobanks.Web/Models/Shared/OntologyTermModel.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-disease-statuses.js
  src/Directory/Biobanks.Web/Views/ADAC/DiseaseStatuses.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory

#281 AB#36366: Added event data null check
  src/Core/Analytics/Services/GoogleAnalyticsReportingService.cs
Labels: Area: Analytics, Area: Core

#282 AB#37084: BUG-FIX: Publications doesn't populate a number of fields in the DB
  src/Core/Publications/Dto/PublicationDto.cs
Labels: Area: Core, Area: Publications

#283 AB#37838: Analytics null check
  src/Core/Analytics/Services/GoogleAnalyticsReportingService.cs
Labels: Area: Analytics, Area: Core

#284 AB#37860: Tag quote fix
  src/Directory/Biobanks.Web/Views/Shared/_ContainerLayout.cshtml
Labels: Area: Directory

#285 AB#36916: Config Service
  src/Directory/Biobanks.Web/ApiControllers/DonorCountController.cs
  src/Directory/Biobanks.Web/ApiControllers/MacroscopicAssessmentController.cs
  src/Directory/Biobanks.Web/ApiControllers/StorageTemperatureController.cs
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Controllers/NetworkController.cs
  src/Directory/Biobanks.Web/Controllers/ProfileController.cs
  src/Directory/Biobanks.Web/Controllers/RegisterController.cs
  src/Directory/Biobanks.Web/Filters/SiteConfigAttribute.cs
  src/Directory/Biobanks.Web/Windsor/WindsorInstaller.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/ConfigService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
  src/Directory/Services/Contracts/IConfigService.cs
Labels: Area: Directory

#286 AB#31864: Add DropDown to select material type of extraction procedure
  src/Directory/Biobanks.Web/ApiControllers/ExtractionProcedureController.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/ExtractionProceduresModel.cs
  src/Directory/Biobanks.Web/Models/ADAC/ReadExtractionProcedureModel.cs
  src/Directory/Biobanks.Web/Models/ADAC/ReadMaterialTypeModel.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-extraction-procedure.js
  src/Directory/Biobanks.Web/Views/ADAC/ExtractionProcedure.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/MaterialTypes.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
Labels: Area: Directory

#288 AB#34227: Replace obsolete Hangfire functions
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Filters/HangfireAuthorisationFilter.cs
  src/Directory/Biobanks.Web/HangfireJobActivator/HangfireWindsorJobActivator.cs
  src/Directory/Biobanks.Web/Startup.cs
Labels: Area: Directory

#287 AB#38181: Add Extraction Procedure to Search Collection Details
  src/Directory/Biobanks.Web/Models/Search/DetailedCollectionSearchMPDModel.cs
  src/Directory/Biobanks.Web/Views/Search/CollectionsDetail.cshtml
Labels: Area: Directory

#290 AB#36721: Added URI check to registration
  src/Directory/Biobanks.Web/Controllers/RegisterController.cs
Labels: Area: Directory

#289 AB#36740: SuperUser/Flags View
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/FlagsController.cs
  src/Directory/Biobanks.Web/Models/Shared/SiteConfigModel.cs
  src/Directory/Biobanks.Web/Scripts/Flags/flags-config.js
  src/Directory/Biobanks.Web/Views/Flags/FlagsConfig.cshtml
  src/Directory/Biobanks.Web/Views/SuperUser/Index.cshtml
  src/Directory/Services/ConfigService.cs
Labels: Area: Directory

#291 AB#38258: Hangfire db targeting
  src/Directory/Biobanks.Web/Startup.cs
  src/Directory/Biobanks.Web/Web.config
  src/Submissions/Api/Config/HangfireOptions.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#292 AB#37404: Amend "Publication not found" messaging to clarify use of the EPMC source
  src/Directory/Biobanks.Web/Scripts/Biobank/publications.js
Labels: Area: Directory

#293 AB#38414: Include Findings in Search Typeahead
  src/Directory/Biobanks.Web/ApiControllers/DiseaseStatusController.cs
  src/Directory/Biobanks.Web/ApiControllers/ExtractionProcedureController.cs
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/SearchController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDCapabilityModel.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDCollectionModel.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Constants/SnomedTags.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory

#296 AB#38420: Extraction Procedure config page does not display displayinDirectory=0 entries
  src/Directory/Biobanks.Web/ApiControllers/ExtractionProcedureController.cs
  src/Directory/Biobanks.Web/ApiControllers/MaterialTypeController.cs
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Controllers/SearchController.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-extraction-procedure.js
  src/Directory/Biobanks.Web/Scripts/Shared/serialize-checkbox-as-bool.js
  src/Directory/Biobanks.Web/Views/ADAC/ExtractionProcedure.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Constants/SnomedTags.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory
