Repository biobankinguk/biobankinguk, pull requests merged in 2021-05, with the labels that each got.

#213 AB#32272: Upgrade Publications Service
  .github/workflows/build.publications.yml
  .github/workflows/main.release.yml
  .gitignore
  src/Publications/AzFunctions/.gitignore
  src/Publications/AzFunctions/AzFunctions.csproj
  src/Publications/AzFunctions/Functions/BatchFunction.cs
  src/Publications/AzFunctions/Program.cs
  src/Publications/AzFunctions/Properties/launchSettings.json
  src/Publications/AzFunctions/Startup.cs
  src/Publications/AzFunctions/Types/ScheduleStatus.cs
  src/Publications/AzFunctions/Types/TimerInfo.cs
  src/Publications/AzFunctions/host.json
  src/Publications/Core/Core.csproj
  src/Publications/Core/Services/AnnotationService.cs
  src/Publications/Core/Services/BiobankReadService.cs
  src/Publications/Core/Services/Contracts/IAnnotationService.cs
  src/Publications/Core/Services/Contracts/IBiobankReadService.cs
  src/Publications/Core/Services/Contracts/IEPMCService.cs
  src/Publications/Core/Services/Contracts/IPublicationService.cs
  src/Publications/Core/Services/Dto/AnnotationDto.cs
  src/Publications/Core/Services/Dto/PublicationDTO.cs
  src/Publications/Core/Services/EpmcWebService.cs
  src/Publications/Core/Services/Hosted/FetchAnnotationsService.cs
  src/Publications/Core/Services/Hosted/FetchPublicationsService.cs
  src/Publications/Core/Services/PublicationService.cs
  src/Publications/Publications.sln
  src/Publications/Publications/Entities/Annotation.cs
  src/Publications/Publications/Entities/Organisation.cs
  src/Publications/Publications/Entities/Publication.cs
  src/Publications/Publications/Entities/PublicationAnnotation.cs
  src/Publications/Publications/PublicationDbContext.cs
  src/Publications/Publications/Publications.csproj
  src/Publications/Publications/Services/AnnotationService.cs
  src/Publications/Publications/Services/BiobankReadService.cs
  src/Publications/Publications/Services/Contracts/IBiobankReadService.cs
  src/Publications/PublicationsAzureFunctions/BatchFunction.cs
  src/Publications/PublicationsAzureFunctions/Properties/serviceDependencies.json
  src/Publications/PublicationsAzureFunctions/PublicationsAzureFunctions.csproj
  src/Publications/PublicationsAzureFunctions/PublicationsAzureFunctions.sln
  src/Publications/PublicationsAzureFunctions/README.md
  src/Publications/PublicationsAzureFunctions/Startup.cs
  src/Publications/PublicationsAzureFunctions/host.json
Labels: Area: CI, Area: Publications

#199 AB#30988: Add preservation type to material details
  src/Directory/Biobanks.Web/ApiControllers/StorageTemperatureController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDSampleSetModel.cs
  src/Directory/Biobanks.Web/Models/Biobank/CollectionModel.cs
  src/Directory/Biobanks.Web/Models/Biobank/SampleSetModel.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/collection-sample-sets.js
  src/Directory/Biobanks.Web/Views/Biobank/AddSampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/Collection.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/CopySampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/EditSampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/SampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_SampleSetSharedFields.cshtml
  src/Directory/Data/Configs/ConfigKey.cs
  src/Directory/Data/Configs/Configs.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
Labels: Area: Directory, Area: Directory Data

#191 AB#29896: Aggregator
  src/Aggregator/AzFunctions/AzFunctions.csproj
  src/Aggregator/AzFunctions/Functions/AggregatorFunction.cs
  src/Aggregator/AzFunctions/Functions/Function1.cs
  src/Aggregator/AzFunctions/Startup.cs
  src/Aggregator/Core/AggregationTask.cs
  src/Aggregator/Core/Class1.cs
  src/Aggregator/Core/Core.csproj
  src/Aggregator/Core/Services/AggregationService.cs
  src/Aggregator/Core/Services/CollectionService.cs
  src/Aggregator/Core/Services/Contracts/IAggregationService.cs
  src/Aggregator/Core/Services/Contracts/ICollectionService.cs
  src/Aggregator/Core/Services/Contracts/IOrganisationService.cs
  src/Aggregator/Core/Services/Contracts/IReferenceDataService.cs
  src/Aggregator/Core/Services/Contracts/ISampleService.cs
  src/Aggregator/Core/Services/OrganisationService.cs
  src/Aggregator/Core/Services/ReferenceDataService.cs
  src/Aggregator/Core/Services/SampleService.cs
Labels: Area: Aggregator, Area: Data

#216 AB#34133: Suggested terms fix
  src/Directory/Biobanks.Web/Controllers/SearchController.cs
Labels: Area: Directory

#219 AB#34604: Copying a sample set - material details do not have the same properties as their originator
  src/Directory/Biobanks.Web/Views/Biobank/CopySampleSet.cshtml
Labels: Area: Directory

#220 AB#32271: Analytics publishing
  src/Aggregator/AzFunctions/AzFunctions.csproj
  src/Aggregator/AzFunctions/Functions/AggregatorFunction.cs
  src/Aggregator/AzFunctions/Types/ScheduleStatus.cs
  src/Aggregator/AzFunctions/Types/TimerInfo.cs
  src/Analytics/AzFunctions/.gitignore
  src/Analytics/AzFunctions/AnalyticsFunction.cs
  src/Analytics/AzFunctions/AzFunctions.csproj
  src/Analytics/AzFunctions/BatchFunction.cs
  src/Analytics/AzFunctions/DirectoryAnalyticsFunction.cs
  src/Analytics/AzFunctions/Properties/launchSettings.json
  src/Analytics/AzFunctions/Properties/serviceDependencies.json
  src/Analytics/AzFunctions/Properties/serviceDependencies.local.json
  src/Publications/AzFunctions/.gitignore
  src/Publications/AzFunctions/AzFunctions.csproj
  src/Publications/AzFunctions/Functions/BatchFunction.cs
  src/Publications/AzFunctions/Startup.cs
  src/Publications/AzFunctions/Types/ScheduleStatus.cs
  src/Publications/AzFunctions/Types/TimerInfo.cs
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/AzFunctions/Functions/SubmissionExpiryFunction.cs
  src/Submissions/AzFunctions/Startup.cs
  src/Submissions/AzFunctions/Types/ScheduleStatus.cs
  src/Submissions/AzFunctions/Types/TimerInfo.cs
Labels: Area: Aggregator, Area: Analytics, Area: Publications, Area: Submissions

#223 AB#35135: Hangfire job prep
  src/Core/Core.csproj
  src/Core/Core.sln
  src/IdentityModel/IdentityTool/Commands/AddApiClient.cs
  src/IdentityModel/IdentityTool/Commands/Runners/AddApiClient.cs
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Filters/HangfireDashboardAuthorizationFilter.cs
  src/Submissions/Api/Startup.cs
Labels: Area: IdentityModel, Area: Submissions

#215 AB#34026: CRUD Methods for ContentPages
  src/Directory/Services/ContentPageService.cs
  src/Directory/Services/Contracts/IContentPageService.cs
Labels: Area: Directory

#226 AB#35211: Publications Job
  src/Core/Core.csproj
  src/Core/Core.sln
  src/Core/Jobs/PublicationsJob.cs
  src/Core/Publications/Services/AnnotationService.cs
  src/Core/Publications/Services/Contracts/IAnnotationService.cs
  src/Core/Publications/Services/Contracts/IEPMCService.cs
  src/Core/Publications/Services/Contracts/IPublicationService.cs
  src/Core/Publications/Services/Dto/AnnotationDto.cs
  src/Core/Publications/Services/Dto/PublicationDTO.cs
  src/Core/Publications/Services/EpmcWebService.cs
  src/Core/Publications/Services/PublicationService.cs
  src/Core/Shared/Services/Contracts/IOrganisationService.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Core.Api.csproj
  src/Submissions/Submissions.sln
Labels: Area: Submissions

#228 AB#35247: Remove Publications AzFunction Project
  .github/labeler.yml
  .github/workflows/build.publications.yml
  .github/workflows/build.submissions.api.yml
  .github/workflows/main.release.yml
  README.md
  src/Publications/AzFunctions/AzFunctions.csproj
  src/Publications/AzFunctions/Functions/BatchFunction.cs
  src/Publications/AzFunctions/Program.cs
  src/Publications/AzFunctions/Properties/launchSettings.json
  src/Publications/AzFunctions/Startup.cs
  src/Publications/AzFunctions/host.json
  src/Publications/Core/Core.csproj
  src/Publications/Core/Services/AnnotationService.cs
  src/Publications/Core/Services/BiobankReadService.cs
  src/Publications/Core/Services/Contracts/IAnnotationService.cs
  src/Publications/Core/Services/Contracts/IBiobankReadService.cs
  src/Publications/Core/Services/Contracts/IEPMCService.cs
  src/Publications/Core/Services/Contracts/IPublicationService.cs
  src/Publications/Core/Services/Dto/AnnotationDto.cs
  src/Publications/Core/Services/Dto/PublicationDTO.cs
  src/Publications/Core/Services/EpmcWebService.cs
  src/Publications/Core/Services/Hosted/FetchAnnotationsService.cs
  src/Publications/Core/Services/Hosted/FetchPublicationsService.cs
  src/Publications/Core/Services/PublicationService.cs
  src/Publications/Publications.sln
  src/Publications/README.md
  src/Publications/readme/project-diagram.png
  src/Submissions/README.md
Labels: Area: CI, Area: Core, Area: Publications, Area: Submissions

#229 AB#35211: Core namespace fixes
  src/Core/Core.csproj
  src/Core/Jobs/PublicationsJob.cs
  src/Core/Publications/Dto/AnnotationDto.cs
  src/Core/Publications/Dto/PublicationDto.cs
  src/Core/Publications/Services/AnnotationService.cs
  src/Core/Publications/Services/Contracts/IAnnotationService.cs
  src/Core/Publications/Services/Contracts/IEpmcService.cs
  src/Core/Publications/Services/Contracts/IPublicationService.cs
  src/Core/Publications/Services/EpmcWebService.cs
  src/Core/Publications/Services/PublicationService.cs
  src/Core/Shared/Services/Contracts/IOrganisationService.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Submissions/Api/Services/HangfireQueueService.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Submissions

#230 AB#35080: Analytics Hangfire Job
  src/Core/Analytics/Dto/DirectoryAnalyticReportDto.cs
  src/Core/Analytics/Dto/OrganisationAnalyticReportDTO.cs
  src/Core/Analytics/Helpers/QuarterlySummary.cs
  src/Core/Analytics/Services/Contracts/IGoogleAnalyticsReadService.cs
  src/Core/Analytics/Services/GoogleAnalyticsReadService.cs
  src/Core/Core.csproj
  src/Core/Jobs/AnalyticsJob.cs
  src/Core/Jobs/PublicationsJob.cs
  src/Core/Shared/Services/Contracts/IOrganisationService.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
Labels: Area: Core, Area: Publications, Area: Submissions

#222 AB#31170: PreservationType is now essentially a new search facet. Add it.
  elastic-search/directory index setup/collections.json
  src/Directory/Biobanks.Web/Models/Search/DetailedCollectionSearchMPDModel.cs
  src/Directory/Biobanks.Web/Views/Search/CollectionsDetail.cshtml
  src/Directory/Search/Dto/Documents/MaterialPreservationDetailDocument.cs
  src/Directory/Search/Dto/Facets/FacetList.cs
  src/Directory/Search/Dto/Results/MaterialPreservationDetailSummary.cs
  src/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  src/Directory/Services/Extensions/SampleSetExtensions.cs
Labels: Area: Directory, Area: Elastic Search, Contains: Search Index

#231 AB#35079: Analytics reports API endpoints
  src/Core/Analytics/AnalyticsOptions.cs
  src/Core/Analytics/Dto/DirectoryReportDto.cs
  src/Core/Analytics/Dto/OrganisationReportDto.cs
  src/Core/Analytics/Dto/QuarterlySummary.cs
  src/Core/Analytics/Services/AnalyticsService.cs
  src/Core/Analytics/Services/Contracts/IAnalyticsService.cs
  src/Core/Analytics/Services/Contracts/IDirectoryReportGenerator.cs
  src/Core/Analytics/Services/Contracts/IGoogleAnalyticsReadService.cs
  src/Core/Analytics/Services/Contracts/IGoogleAnalyticsReportingService.cs
  src/Core/Analytics/Services/Contracts/IOrganisationReportGenerator.cs
  src/Core/Analytics/Services/Contracts/IReportDataTransformationService.cs
  src/Core/Analytics/Services/DirectoryReportGenerator.cs
  src/Core/Analytics/Services/GoogleAnalyticsReadService.cs
  src/Core/Analytics/Services/GoogleAnalyticsReportingService.cs
  src/Core/Analytics/Services/OrganisationReportGenerator.cs
  src/Core/Analytics/Services/ReportDataTransformationService.cs
  src/Core/Extensions/DateTimeOffsetExtensions.cs
  src/Core/Jobs/AnalyticsJob.cs
  src/DataSeed/packages.lock.json
  src/Directory/Biobanks.Web/App_Start/AutoMapperConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/ADAC/DirectoryAnalyticReport.cs
  src/Directory/Biobanks.Web/Models/Biobank/BiobankAnalyticReport.cs
  src/Directory/Biobanks.Web/Models/Shared/ErrorStatusModel.cs
  src/Directory/Biobanks.Web/Views/ADAC/Analytics.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/Analytics.cshtml
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Services/AnalyticsReportGenerator.cs
  src/Directory/Services/Dto/BiobankAnalyticReportDTO.cs
  src/Directory/Services/Dto/DirectoryAnalyticReportDTO.cs
  src/Directory/Services/Dto/ErrorStatusModelDTO.cs
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/SecurityRequirementsOperationFilter.cs
  src/Submissions/Api/Controllers/AnalyticsController.cs
  src/Submissions/Api/Controllers/Domain/CommitController.cs
  src/Submissions/Api/Controllers/Domain/RejectController.cs
  src/Submissions/Api/Controllers/ErrorController.cs
  src/Submissions/Api/Controllers/StatusController.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
  src/Submissions/README.md
Labels: Area: Core, Area: DataSeed, Area: Directory, Area: Submissions

#234 AB#35423: Deleting old Analytics Project
  .github/labeler.yml
  .github/workflows/build.analytics.yml
  .github/workflows/main.release.yml
  README.md
  src/Analytics/Analytics.sln
  src/Analytics/AzFunctions/AnalyticsFunction.cs
  src/Analytics/AzFunctions/AzFunctions.csproj
  src/Analytics/AzFunctions/BatchFunction.cs
  src/Analytics/AzFunctions/DirectoryAnalyticsFunction.cs
  src/Analytics/AzFunctions/Program.cs
  src/Analytics/AzFunctions/Properties/launchSettings.json
  src/Analytics/AzFunctions/Startup.cs
  src/Analytics/AzFunctions/host.json
  src/Analytics/Core/AnalyticsReportGenerator.cs
  src/Analytics/Core/BiobankReadService.cs
  src/Analytics/Core/Contracts/IAnalyticsReportGenerator.cs
  src/Analytics/Core/Contracts/IBiobankReadService.cs
  src/Analytics/Core/Contracts/IGoogleAnalyticsReadService.cs
  src/Analytics/Core/Core.csproj
  src/Analytics/Core/Dto/DirectoryAnalyticReportDto.cs
  src/Analytics/Core/Dto/OrganisationAnalyticReportDTO.cs
  src/Analytics/Core/GoogleAnalyticsReadService.cs
  src/Analytics/Core/Helpers/QuarterlySummary.cs
  src/Analytics/readme.md
Labels: Area: CI

#233 AB#35368: Aggregator Job Hangfire
  src/Core/Aggregator/Services/AggregationService.cs
  src/Core/Aggregator/Services/CollectionService.cs
  src/Core/Aggregator/Services/Contracts/IAggregationService.cs
  src/Core/Aggregator/Services/Contracts/ICollectionService.cs
  src/Core/Aggregator/Services/Contracts/IReferenceDataService.cs
  src/Core/Aggregator/Services/Contracts/ISampleService.cs
  src/Core/Aggregator/Services/ReferenceDataService.cs
  src/Core/Aggregator/Services/SampleService.cs
  src/Core/Jobs/AggregatorJob.cs
  src/Core/Shared/Services/Contracts/IOrganisationService.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Core, Area: Submissions

#235 AB#35429: Remove Aggregator Project
  .github/labeler.yml
  .github/workflows/build.aggregator.azfunctions.yml
  .github/workflows/main.release.yml
  src/Aggregator/Aggregator.sln
  src/Aggregator/AzFunctions/AzFunctions.csproj
  src/Aggregator/AzFunctions/Functions/AggregatorFunction.cs
  src/Aggregator/AzFunctions/Program.cs
  src/Aggregator/AzFunctions/Properties/launchSettings.json
  src/Aggregator/AzFunctions/Startup.cs
  src/Aggregator/AzFunctions/host.json
  src/Aggregator/Core/AggregationTask.cs
  src/Aggregator/Core/Core.csproj
  src/Aggregator/Core/Services/AggregationService.cs
  src/Aggregator/Core/Services/CollectionService.cs
  src/Aggregator/Core/Services/Contracts/IAggregationService.cs
  src/Aggregator/Core/Services/Contracts/ICollectionService.cs
  src/Aggregator/Core/Services/Contracts/IOrganisationService.cs
  src/Aggregator/Core/Services/Contracts/IReferenceDataService.cs
  src/Aggregator/Core/Services/Contracts/ISampleService.cs
  src/Aggregator/Core/Services/OrganisationService.cs
  src/Aggregator/Core/Services/ReferenceDataService.cs
  src/Aggregator/Core/Services/SampleService.cs
Labels: Area: CI

#227 AB#32820: Honeypot Registration forms
  src/Directory/Biobanks.Web/ApiControllers/RegistrationDomainRuleController.cs
  src/Directory/Biobanks.Web/Controllers/RegisterController.cs
  src/Directory/Biobanks.Web/Models/Register/RegisterEntityModel.cs
  src/Directory/Biobanks.Web/Views/Register/Biobank.cshtml
  src/Directory/Biobanks.Web/Views/Register/EditorTemplates/RegisterEntityModel.cshtml
  src/Directory/Biobanks.Web/Views/Register/Network.cshtml
Labels: Area: Data, Area: Directory, Area: Directory Data, Area: Entities, Contains: Migrations

#237 AB#35393: Workers configuration for Submissions API
  src/Core/Analytics/Services/Contracts/IGoogleAnalyticsReportingService.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Config/WorkersOptions.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
  src/Submissions/README.md
Labels: Area: Analytics, Area: Core, Area: Submissions

#240 AB#35749: Hangfire Auth Fix Attempt
  src/Submissions/Api/Startup.cs
Labels: Area: Submissions

#242 AB#35741: Bug - Selecting a datatype for associated data without a corresponding provision time throws an exception
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDCollectionModel.cs
  src/Directory/Biobanks.Web/Views/Biobank/_AssociatedData.cshtml
Labels: Area: Directory

#245 AB#35905: Fix Expiry Job
  src/Core/Submissions/Services/SubmissionExpiryService.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Core, Area: Submissions

#247 AB#35951: New analytics approach, and tags parameterised
  src/Directory/Biobanks.Web/Views/Shared/_ContainerLayout.cshtml
  src/Directory/Biobanks.Web/Web.config
Labels: Area: Directory

#248 AB#35973: Added support for JSON string fields to accept numeric types
  src/Submissions/Api/JsonConverters/JsonNumberAsStringConverter.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Submissions

#249 AB#36063: Fix Directory Build After Publication Fixes
  src/Directory/Biobanks.Web/Models/Biobank/BiobankPublicationsModel.cs
  src/Directory/Biobanks.Web/Models/Profile/BiobankPublicationsModel.cs
Labels: Area: Directory

#244 AB#33933: Blocklist/Allowlist UI
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/BlockAllowListModel.cs
  src/Directory/Biobanks.Web/Mvc.sitemap
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-blockallow-list.js
  src/Directory/Biobanks.Web/Views/ADAC/BlockAllowList.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/_ADACTabs.cshtml
Labels: Area: Directory
