Repository biobankinguk/biobankinguk, pull requests merged in 2021-03, with the labels that each got.

#135 PR Labelling workflow
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Area: CI

#136 Azure Build triggers
  .azure/pipelines/build.analytics.yml
  .azure/pipelines/build.dataseed.yml
  .azure/pipelines/build.directory.yml
  .azure/pipelines/build.publications.yml
  .azure/pipelines/build.submissions.api.yml
  .azure/pipelines/build.submissions.functions.yml
  .azure/pipelines/build.submissions.identity.yml
Labels: Area: CI

#137 AB#32002: Require Azure Boards Work Item references in PRs
  .github/pull_request_template.md
  .github/workflows/pr.check.work-item-ref.yml
Labels: Area: CI

#139 AB#32082: OntologyTerms created via the Directory UI are flagged as visible
  src/Directory/Biobanks.Web/ApiControllers/DiseaseStatusController.cs
Labels: Area: Directory

#140 AB#31133: GitHub build workflows
  .azure/pipelines/build.analytics.yml
  .azure/pipelines/build.dataseed.yml
  .azure/pipelines/build.directory.yml
  .azure/pipelines/build.publications.yml
  .azure/pipelines/build.submissions.api.yml
  .azure/pipelines/build.submissions.functions.yml
  .azure/pipelines/build.submissions.identity.yml
  .github/workflows/build.analytics.yml
  .github/workflows/build.dataseed.yml
  .github/workflows/build.directory.yml
  .github/workflows/build.publications.yml
  .github/workflows/build.submissions.api.yml
  .github/workflows/build.submissions.azfunctions.yml
Labels: Area: CI

#144 AB#32369: Updating csproj file to fix output location
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
Labels: Area: Directory

#150 AB#32498: Submissions Token Provider
  src/Data/Data.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/Basic/BasicAuthDefaults.cs
  src/Submissions/Api/Auth/Basic/BasicAuthExtensions.cs
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Auth/Basic/BasicAuthParsingException.cs
  src/Submissions/Api/Auth/Basic/BasicAuthSchemeOptions.cs
  src/Submissions/Api/Auth/Crypto.cs
  src/Submissions/Api/Auth/CustomClaimTypes.cs
  src/Submissions/Api/Auth/CustomRoles.cs
  src/Submissions/Api/Auth/JwtBearerConstants.cs
  src/Submissions/Api/Auth/SecurityRequirementsOperationFilter.cs
  src/Submissions/Api/Auth/StringCryptoExtensions.cs
  src/Submissions/Api/Config/JwtBearerConfig.cs
  src/Submissions/Api/Controllers/Domain/CommitController.cs
  src/Submissions/Api/Controllers/ErrorController.cs
  src/Submissions/Api/Controllers/StatusController.cs
  src/Submissions/Api/Controllers/SubmitController.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Filters/HangfireDashboardAuthorizationFilter.cs
  src/Submissions/Api/MappingProfiles/ErrorProfile.cs
  src/Submissions/Api/Models/ErrorModel.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/Utils.cs
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/AzFunctions/Functions/SubmissionStagingFunction.cs
  src/Submissions/Core.AzureStorage/AzureBlobWriteService.cs
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Core.csproj
  src/Submissions/Core/Services/DiagnosisWriteService.cs
  src/Submissions/Core/Services/SampleWriteService.cs
  src/Submissions/Core/Services/TreatmentWriteService.cs
Labels: Area: Data, Area: Submissions

#151 AB#32662: 🔥 Old submissions identity
  .github/labeler.yml
  src/Submissions/Common/Auth/AuthPolicies.cs
  src/Submissions/Common/Auth/CustomClaimTypes.cs
  src/Submissions/Common/Auth/CustomRoles.cs
  src/Submissions/Common/Common.csproj
  src/Submissions/Common/Exceptions/AggregateBiobanksValidationException.cs
  src/Submissions/Common/Exceptions/ApplicationExceptionStubs.cs
  src/Submissions/Common/Extensions/SubmissionTimestampedExtensionMethods.cs
  src/Submissions/Common/Models/AddErrorModel.cs
  src/Submissions/Common/Models/BaseIdModel.cs
  src/Submissions/Common/Models/BasePaginatedModel.cs
  src/Submissions/Common/Models/DiagnosisIdModel.cs
  src/Submissions/Common/Models/DiagnosisModel.cs
  src/Submissions/Common/Models/MaterialTypeJsonModel.cs
  src/Submissions/Common/Models/OperationsQueueItem.cs
  src/Submissions/Common/Models/PaginatedSubmissionSummariesModel.cs
  src/Submissions/Common/Models/SampleIdModel.cs
  src/Submissions/Common/Models/SampleModel.cs
  src/Submissions/Common/Models/SubmissionSummaryModel.cs
  src/Submissions/Common/Models/TreatmentIdModel.cs
  src/Submissions/Common/Models/TreatmentModel.cs
  src/Submissions/Common/PredicateBuilder.cs
  src/Submissions/Common/Types/CacheKeys.cs
  src/Submissions/Common/Types/MaterialTypeGroups.cs
  src/Submissions/Common/Types/OntologyField.cs
  src/Submissions/Common/Types/Operation.cs
  src/Submissions/Common/Types/PaginationParams.cs
  src/Submissions/Common/Types/Statuses.cs
  src/Submissions/IdentityProvider/BasicAuthHandler.cs
  src/Submissions/IdentityProvider/Data/IdpDbContext.cs
  src/Submissions/IdentityProvider/Data/Migrations/20181010104300_Initial.Designer.cs
  src/Submissions/IdentityProvider/Data/Migrations/20181010104300_Initial.cs
  src/Submissions/IdentityProvider/Data/Migrations/IdpDbContextModelSnapshot.cs
  src/Submissions/IdentityProvider/IdentityJwtProviderMiddleware.cs
  src/Submissions/IdentityProvider/IdentityProvider.csproj
  src/Submissions/IdentityProvider/Program.cs
  src/Submissions/IdentityProvider/Properties/launchSettings.json
  src/Submissions/IdentityProvider/Startup.Seed.cs
  src/Submissions/IdentityProvider/Startup.cs
  src/Submissions/IdentityProvider/appsettings.Development.json
  src/Submissions/IdentityProvider/appsettings.json
  src/Submissions/IdentityProvider/wwwroot/swagger-v1.json
  src/Submissions/Submissions.sln
Labels: Area: CI, Area: Submissions, Contains: Migrations

#152 AB#32494: BUG -Deleting a biobank removes admin rights from all biobanks for a user
  src/Directory/Services/BiobankReadService.cs
Labels: Area: Directory

#153 AB#32495: BUG FIX - Deleting a biobank leaves populated collections in search
  src/Directory/Services/BiobankWriteService.cs
Labels: Area: Directory

#155 AB#32636: API Client Credentials Generation
  .github/labeler.yml
  .github/workflows/build.identitytool.yml
  src/Data/Data.csproj
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Identity/Identity.csproj
  src/Directory/Search/Search.csproj
  src/Directory/Search/packages.lock.json
  src/Entities/Entities.csproj
  src/IdentityModel/IdentityModel.sln
  src/IdentityModel/IdentityModel/Extensions/StringCryptoExtensions.cs
  src/IdentityModel/IdentityModel/Helpers/Crypto.cs
  src/IdentityModel/IdentityModel/IdentityModel.csproj
  src/IdentityModel/IdentityModel/Types/OutputFormat.cs
  src/IdentityModel/IdentityTool.sln
  src/IdentityModel/IdentityTool/Commands/AddApiClient.cs
  src/IdentityModel/IdentityTool/Commands/AppRootCommand.cs
  src/IdentityModel/IdentityTool/Commands/GenerateId.cs
  src/IdentityModel/IdentityTool/Commands/Hash.cs
  src/IdentityModel/IdentityTool/Commands/Runners/AddApiClient.cs
  src/IdentityModel/IdentityTool/Commands/Runners/GenerateId.cs
  src/IdentityModel/IdentityTool/Commands/Runners/Hash.cs
  src/IdentityModel/IdentityTool/Extensions/CommandLineServiceCollectionExtensions.cs
  src/IdentityModel/IdentityTool/IdentityTool.csproj
  src/IdentityModel/IdentityTool/Program.cs
  src/IdentityModel/IdentityTool/README.md
  src/IdentityModel/IdentityTool/Startup.cs
  src/IdentityModel/IdentityTool/appsettings.json
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Auth/Crypto.cs
  src/Submissions/Api/Controllers/TokenController.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/AzFunctions/AzFunctions.csproj
  src/Submissions/Core.AzureStorage/Core.AzureStorage.csproj
  src/Submissions/Core/Core.csproj
  src/Submissions/README.md
  src/Submissions/Submissions.sln
Labels: Area: CI, Area: Data, Area: Directory, Area: Entities, Area: IdentityModel, Area: Submissions

#156 AB#32774: Netstandard Directory fix, Directory build warnings
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/HomeController.cs
  src/Directory/Biobanks.Web/Filters/HangfireAuthorisationFilter.cs
  src/Directory/Biobanks.Web/HangfireJobActivator/HangfireWindsorJobActivator.cs
  src/Directory/Biobanks.Web/Startup.cs
  src/Directory/Biobanks.Web/Web.Release.config
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Biobanks.Web/packages.config
  src/Directory/Data/Repositories/GenericEFRepository.cs
  src/Directory/Search/Elastic/ElasticCapabilitySearchProvider.cs
  src/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  src/Directory/Search/Search.csproj
  src/Directory/Search/packages.lock.json
  src/Directory/Services/BiobankReadService.cs
Labels: Area: Directory, Area: Directory Data

#160 AB#31643: Biobank admin page details
  .gitignore
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Controllers/NetworkController.cs
  src/Directory/Biobanks.Web/Models/Shared/InviteRegisterEntityAdminModel.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-biobanks.js
  src/Directory/Biobanks.Web/Scripts/Biobank/admins-viewmodel.js
  src/Directory/Biobanks.Web/Views/ADAC/BiobankAdmin.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/Biobanks.cshtml
  src/Directory/Biobanks.Web/Views/Shared/_ModalInviteAdmin.cshtml
Labels: Area: Directory

#161 AB#32739: Terms page still displays terms for collections from suspended biobanks
  src/Directory/Biobanks.Web/Controllers/TermController.cs
Labels: Area: Directory

#164 AB#32267: Release workflow
  .github/actions/version-manifest/README.md
  .github/actions/version-manifest/action.yml
  .github/actions/version-manifest/dist/index.js
  .github/actions/version-manifest/dist/licenses.txt
  .github/actions/version-manifest/index.js
  .github/actions/version-manifest/package-lock.json
  .github/actions/version-manifest/package.json
  .github/workflows/main.release.yml
  .github/workflows/pr.check.work-item-ref.yml
  src/DataSeed/DataSeed.csproj
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Properties/AssemblyInfo.cs
  src/Directory/Directory.sln
  src/Entities/Entities.csproj
  src/IdentityModel/IdentityTool/IdentityTool.csproj
  src/Submissions/Api/Api.csproj
  version.yml
Labels: Area: CI, Area: DataSeed, Area: Directory, Area: Entities, Area: IdentityModel, Area: Submissions

#154 AB#31772: Super User Tool- Fix Organisation Urls Action
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/SuperUserController.cs
  src/Directory/Biobanks.Web/Views/SuperUser/Tools.cshtml
  src/Directory/Biobanks.Web/Views/SuperUser/_SuperUserTabs.cshtml
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
Labels: Area: Directory

#166 AB#31370: Prepopulate country on county choice for creating/editing sample resource page
  src/Directory/Biobanks.Web/ApiControllers/CountyController.cs
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Scripts/Biobank/edit-details.js
  src/Directory/Biobanks.Web/Views/Biobank/Edit.cshtml
Labels: Area: Directory

#159 AB#32827: Validation of Extraction Procedure Against Submitting Material Type
  src/Submissions/AzFunctions/Functions/SubmissionExpiryFunction.cs
  src/Submissions/AzFunctions/Properties/launchSettings.json
  src/Submissions/Core.AzureStorage/AzureQueueWriteService.cs
  src/Submissions/Core/Config/ValidationErrors.cs
  src/Submissions/Core/Services/ReferenceDataReadService.cs
  src/Submissions/Core/Services/SampleValidationService.cs
Labels: Area: Submissions

#133 AB#30956: PreservationType RefData ADAC UI In Directory
  src/Directory/Biobanks.Web/ApiControllers/PreservationTypeController.cs
  src/Directory/Biobanks.Web/ApiControllers/StorageTemperatureController.cs
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/PreservationTypeModel.cs
  src/Directory/Biobanks.Web/Models/ADAC/StorageTemperaturesModel.cs
  src/Directory/Biobanks.Web/Mvc.sitemap
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-preservation-types.js
  src/Directory/Biobanks.Web/Views/ADAC/PreservationTypes.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/StorageTemperatures.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/_ADACTabs.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory

#163 AB#32846: Truncate Authors
  src/Directory/Biobanks.Web/Scripts/Biobank/publications.js
  src/Directory/Biobanks.Web/Views/Biobank/Publications.cshtml
Labels: Area: Directory

#169 AB#33286: Disabled Editing/Deleting of Default PreservationType
  src/Directory/Biobanks.Web/Views/ADAC/PreservationTypes.cshtml
Labels: Area: Directory

#168 AB#32907: Other terms UI (disease statuses)
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-disease-statuses.js
  src/Directory/Biobanks.Web/Views/ADAC/DiseaseStatuses.cshtml
Labels: Area: Directory
