Repository biobankinguk/biobankinguk, pull requests merged in 2021-08, with the labels that each got.

#300 AB#38847: Disease Status edit action modifies wrong entry
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-disease-statuses.js
Labels: Area: Directory

#303 AB#38848: Fix for cannot add ontology term ref data where desc is part of another ontology term
  src/Directory/Services/BiobankReadService.cs
Labels: Area: Directory

#297 AB#38295: Refactor Into Collection Service
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Controllers/ProfileController.cs
  src/Directory/Biobanks.Web/Controllers/TermController.cs
  src/Directory/Biobanks.Web/Windsor/WindsorInstaller.cs
  src/Directory/Services/AnalyticsReportGenerator.cs
  src/Directory/Services/BiobankIndexService.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/CollectionService.cs
  src/Directory/Services/Contracts/IBiobankIndexService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
  src/Directory/Services/Contracts/ICollectionService.cs
Labels: Area: Directory

#218 AB#34505: Support Non-Extracted Samples In The Aggregator
  src/Core/Aggregator/AggregatorOptions.cs
  src/Core/Aggregator/Services/AggregationService.cs
  src/Core/Aggregator/Services/CollectionService.cs
  src/Core/Aggregator/Services/Contracts/IAggregationService.cs
  src/Core/Aggregator/Services/Contracts/ICollectionService.cs
  src/Core/Aggregator/Services/Contracts/IReferenceDataService.cs
  src/Core/Aggregator/Services/Contracts/ISampleService.cs
  src/Core/Aggregator/Services/ReferenceDataService.cs
  src/Core/Aggregator/Services/SampleService.cs
  src/Core/Extensions/SampleExtensions.cs
  src/Core/Jobs/AggregatorJob.cs
  src/Core/Submissions/Models/SampleModel.cs
  src/Core/Submissions/Types/MaterialTypeGroups.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Submissions, Area: Aggregator, Area: Core

#305 AB#39541: Validate Organisation To Check For Default Aggregation Values
  src/Core/Jobs/AggregatorJob.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Directory/Biobanks.Web/Views/Biobank/Submissions.cshtml
Labels: Area: Directory, Area: Aggregator, Area: Core

#306 AB#39708: Upgrade edgarrc/action-7z to v1.05 in Github Actions
  .github/workflows/main.release.yml
Labels: Area: CI

#307 AB#39637: Fix Indexing Of SampleSets When CollectionPercentage Is A Disabled Feature
  src/Directory/Services/BiobankIndexService.cs
Labels: Area: Directory

#308 AB#39733: Fix Add/Delete CollectionService Methods
  src/Directory/Services/CollectionService.cs
Labels: Area: Directory
