Repository biobankinguk/biobankinguk, pull requests merged in 2021-06, with the labels that each got.

#239 AB#32818: Mark API Collections as such and rules around GUI editing/viewing
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/collection-crud.js
  src/Directory/Biobanks.Web/Views/Biobank/Collection.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/EditCollection.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_CollectionSharedFields.cshtml
Labels: Area: Directory

#254 AB#36308: Facets no longer clear search term
  src/Directory/Biobanks.Web/Controllers/SearchController.cs
  src/Directory/Biobanks.Web/Views/Search/_Facets.cshtml
Labels: Area: Directory

#255 AB#35892: SuperUser Search Index Building uses configured index names
  src/Directory/Biobanks.Web/App_Config/navigation.json
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Views/Header/_NavItem.cshtml
  src/Directory/Biobanks.Web/Views/Header/_NavItemSuperUser.cshtml
  src/Directory/Services/BiobankIndexService.cs
Labels: Area: Directory

#253 AB#36249: Fixes To API MaterialType validation and legacy mapping
  src/Core/Submissions/Services/Contracts/IReferenceDataReadService.cs
  src/Core/Submissions/Services/ReferenceDataReadService.cs
  src/Core/Submissions/Services/SampleValidationService.cs
  src/Submissions/Api/Settings/LegacyMaterialTypes.json
Labels: Area: Core, Area: Submissions

#260 AB#36565: Fix DataReader System.InvalidOperationException on Commit Job
  src/Core/Submissions/Services/CommitService.cs
  src/Core/Submissions/Services/RejectService.cs
Labels: Area: Core

#261 AB#36694: Fix Directory Build To Include Search Index Descriptions
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
Labels: Area: Directory

#262 AB#36668: Updated Block/Allow list valid values regex
  src/Directory/Biobanks.Web/ApiControllers/RegistrationDomainRuleController.cs
  src/Directory/Biobanks.Web/Views/ADAC/BlockAllowList.cshtml
Labels: Area: Directory

#264 AB#36791: Aggregator Bug Fixes
  src/Core/Aggregator/Services/AggregationService.cs
  src/Core/Aggregator/Services/ReferenceDataService.cs
  src/Core/Aggregator/Services/SampleService.cs
  src/Core/Jobs/AggregatorJob.cs
  src/Core/Submissions/Extensions/AgeRangeExtension.cs
Labels: Area: Aggregator, Area: Core

#265 AB#32642: Correct Collection Percentage calculation
  src/Core/Jobs/AggregatorJob.cs
Labels: Area: Aggregator, Area: Core

#263 AB#36534: BUG Fix - Publications table doesn't load/populate on Test for Large datasets
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
Labels: Area: Directory

#266 AB#36825: Manually implemented cascade deletion for Collections
  src/Core/Aggregator/Services/CollectionService.cs
  src/Core/Aggregator/Services/Contracts/ICollectionService.cs
  src/Core/Jobs/AggregatorJob.cs
Labels: Area: Aggregator, Area: Core

#267 AB#36572: Changed naming of Submission Public/Private Key to Client ID/Secret
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/SubmissionsModel.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/help-popups.js
  src/Directory/Biobanks.Web/Scripts/Biobank/submissions.js
  src/Directory/Biobanks.Web/Views/Biobank/Submissions.cshtml
Labels: Area: Directory

#269 AB#35712: Renamed Submissions to Bulk Submissions
  src/Directory/Biobanks.Web/Views/Biobank/Submissions.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_BiobankTabs.cshtml
Labels: Area: Directory

#256 AB#34164: Manually Add Publications
  src/Directory/Biobanks.Web/App_Start/AutoMapperConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/BiobankPublicationsModel.cs
  src/Directory/Biobanks.Web/Models/Shared/PublicationSearchModel.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/publications.js
  src/Directory/Biobanks.Web/Views/Biobank/Publications.cshtml
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
Labels: Area: Directory

#272 AB#37068: Disabled API Collection Deletion
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/HtmlHelpers/DisabledHelper.cs
  src/Directory/Biobanks.Web/Views/Biobank/Collection.cshtml
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
Labels: Area: Directory

#258 AB#34697: Custom Page Creator
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/App_Start/RouteConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/PagesAdminController.cs
  src/Directory/Biobanks.Web/Models/ADAC/ContentPageModel.cs
  src/Directory/Biobanks.Web/Mvc.sitemap
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-pages-admin.js
  src/Directory/Biobanks.Web/Views/ADAC/_ADACTabs.cshtml
  src/Directory/Biobanks.Web/Views/PagesAdmin/ContentPage.cshtml
  src/Directory/Biobanks.Web/Views/PagesAdmin/CreateEdit.cshtml
  src/Directory/Biobanks.Web/Views/PagesAdmin/CreateEditPreview.cshtml
  src/Directory/Biobanks.Web/Views/PagesAdmin/Index.cshtml
  src/Directory/Biobanks.Web/Web.config
  src/Directory/Services/ContentPageService.cs
  src/Directory/Services/Contracts/IContentPageService.cs
Labels: Area: Directory

#270 AB#35715: Enabled/Disable Submission Config View
  src/Directory/Biobanks.Web/Views/ADAC/SiteConfig.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_BiobankTabs.cshtml
  src/Directory/Data/Configs/ConfigKey.cs
  src/Directory/Data/Configs/Configs.cs
Labels: Area: Directory, Area: Directory Data

#274 AB#34328: Remove Privacy Policy and About Controller Methods and Views
  src/Directory/Biobanks.Web/App_Config/footer.json
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Controllers/HomeController.cs
  src/Directory/Biobanks.Web/Models/Home/AboutModel.cs
  src/Directory/Biobanks.Web/Mvc.sitemap
  src/Directory/Biobanks.Web/Views/ADAC/AboutpageConfig.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/SiteConfig.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/_ADACTabs.cshtml
  src/Directory/Biobanks.Web/Views/Header/_NavItem.cshtml
  src/Directory/Biobanks.Web/Views/Header/_NavItemAbout.cshtml
  src/Directory/Biobanks.Web/Views/Home/About.cshtml
  src/Directory/Biobanks.Web/Views/Home/Privacy.cshtml
  src/Directory/Data/BiobanksDbInitializer.cs
  src/Directory/Data/Configs/ConfigKey.cs
  src/Directory/Data/Configs/Configs.cs
Labels: Area: Directory, Area: Directory Data

#273 AB#33909: Included MaterialTypeGroups in ADAC MaterialType Ref Data View
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/Shared/MaterialTypeModel.cs
  src/Directory/Biobanks.Web/Views/ADAC/MaterialTypes.cshtml
  src/Directory/Services/BiobankReadService.cs
Labels: Area: Directory

#277 AB#31973: Added Extraction Procedure Search Facet
  elastic-search/directory index setup/collections.json
  src/Directory/Biobanks.Web/Models/Search/DetailedCollectionSearchMPDModel.cs
  src/Directory/Search/Dto/Documents/MaterialPreservationDetailDocument.cs
  src/Directory/Search/Dto/Facets/FacetList.cs
  src/Directory/Search/Dto/Facets/Facets.cs
  src/Directory/Search/Dto/Results/MaterialPreservationDetailSummary.cs
  src/Directory/Search/Elastic/ElasticCollectionSearchProvider.cs
  src/Directory/Services/Extensions/SampleSetExtensions.cs
Labels: Area: Directory, Area: Elastic Search, Contains: Search Index

#275 AB#29630: ADAC Material Type Group Config
  src/Directory/Biobanks.Web/ApiControllers/MaterialTypeGroupController.cs
  src/Directory/Biobanks.Web/App_Start/BundleConfig.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Models/ADAC/MaterialTypeGroupModel.cs
  src/Directory/Biobanks.Web/Mvc.sitemap
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-material-type-groups.js
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-material-types.js
  src/Directory/Biobanks.Web/Views/ADAC/MaterialTypeGroups.cshtml
  src/Directory/Biobanks.Web/Views/ADAC/_ADACTabs.cshtml
  src/Directory/Data/Repositories/GenericEFRepository.cs
  src/Directory/Data/Repositories/IGenericEFRepository.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
  src/Directory/Services/Contracts/IBiobankWriteService.cs
Labels: Area: Directory, Area: Directory Data

#276 AB#32148: ExtractionProcedure - Add To MaterialDetails UI
  src/Directory/Biobanks.Web/ApiControllers/MaterialTypeController.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDSampleSetModel.cs
  src/Directory/Biobanks.Web/Models/Biobank/CollectionModel.cs
  src/Directory/Biobanks.Web/Models/Biobank/SampleSetModel.cs
  src/Directory/Biobanks.Web/Scripts/Biobank/collection-sample-sets.js
  src/Directory/Biobanks.Web/Views/Biobank/AddSampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/Collection.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/CopySampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/EditSampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/SampleSet.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_SampleSetSharedFields.cshtml
  src/Directory/Data/BiobanksDbContext.cs
  src/Directory/Services/BiobankReadService.cs
  src/Directory/Services/BiobankWriteService.cs
  src/Directory/Services/Contracts/IBiobankReadService.cs
Labels: Area: Directory, Area: Directory Data
