Repository biobankinguk/biobankinguk, pull requests merged in 2022-10, with the labels that each got.

#430 AB#78716: AgeRange Controller
  src/Directory/Biobanks.Web/ApiControllers/AgeRangeController.cs
  src/Submissions/Api/Controllers/ReferenceData/AgeRangeController.cs
  src/Submissions/Api/Models/Shared/AgeRangesModel.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#434 AB#78717: Porting over Annual Static Controller
  src/Directory/Biobanks.Web/ApiControllers/AnnualStatisticController.cs
  src/Submissions/Api/Controllers/ReferenceData/AnnualStatisticController.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#431 AB#78616: Port AccessCondition controller
  src/Directory/Biobanks.Web/ApiControllers/AccessConditionController.cs
  src/Submissions/Api/Controllers/ReferenceData/AccessConditionController.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#432 AB#78718: Annual Statistic Group controller port
  src/Directory/Biobanks.Web/ApiControllers/AnnualStatisticGroupController.cs
  src/Submissions/Api/Controllers/ReferenceData/AnnualStatisticGroupController.cs
Labels: Area: Directory, Area: Submissions

#433 AB#78750: PreservationType controller port
  src/Directory/Biobanks.Web/ApiControllers/PreservationTypeController.cs
  src/Submissions/Api/Controllers/ReferenceData/PreservationTypeController.cs
  src/Submissions/Api/Models/Shared/PreservationTypeModel.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#437 AB#78748: MaterialType Controller Port
  src/Directory/Biobanks.Web/ApiControllers/MaterialTypeController.cs
  src/Submissions/Api/Controllers/ReferenceData/MaterialTypeController.cs
  src/Submissions/Api/Models/Shared/MaterialTypeModel.cs
  src/Submissions/Api/Models/Shared/ReadMaterialTypeModel.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IMaterialTypeService.cs
  src/Submissions/Api/Services/Directory/MaterialTypeService.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#445 AB#78742: Country and county controllers port
  src/Directory/Biobanks.Web/ApiControllers/CountryController.cs
  src/Directory/Biobanks.Web/ApiControllers/CountyController.cs
  src/Submissions/Api/Controllers/ReferenceData/CountryController.cs
  src/Submissions/Api/Controllers/ReferenceData/CountyController.cs
  src/Submissions/Api/Models/Shared/CountryModel.cs
  src/Submissions/Api/Models/Shared/CountyModel.cs
  src/Submissions/Api/Models/Shared/ReadCountryModel.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#447 AB#78753: RegistrationReason controller port
  src/Directory/Biobanks.Web/ApiControllers/RegistrationReasonController.cs
  src/Submissions/Api/Controllers/ReferenceData/RegistrationReasonController.cs
  src/Submissions/Api/Models/Shared/ReadRegistrationReasonModel.cs
  src/Submissions/Api/Models/Shared/RegistrationReasonModel.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#453 AB#79908: Fix build warnings
  src/Entities/Data/Collection.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/Contracts/INetworkService.cs
  src/Submissions/Api/Services/Directory/Contracts/IOntologyTermService.cs
  src/Submissions/Api/Services/Directory/Contracts/IOrganisationDirectoryService.cs
  src/Submissions/Api/Services/Directory/Contracts/IReferenceDataService.cs
Labels: Area: Entities, Area: Submissions

#449 AB#78755: ServiceOffering Controller port
  src/Directory/Biobanks.Web/ApiControllers/ServiceOfferingController.cs
  src/Submissions/Api/Controllers/ReferenceData/ServiceOfferingController.cs
  src/Submissions/Api/Models/Shared/ReadServiceOfferingModel.cs
  src/Submissions/Api/Models/Shared/ServiceOfferingModel.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#455 AB#78734: Biobank controller
  src/Directory/Biobanks.Web/ApiControllers/BiobankController.cs
  src/Submissions/Api/Controllers/ReferenceData/BiobankController.cs
  src/Submissions/Api/Startup.cs
Labels: Area: Directory, Area: Submissions

#436 AB#33843: Net6
  .github/workflows/build.dataseed.yml
  .github/workflows/build.identitytool.yml
  .github/workflows/build.submissions.api.yml
  src/Core.AzureStorage/Core.AzureStorage.csproj
  src/Core/Core.csproj
  src/Data/BiobanksDbContext.cs
  src/Data/Data.csproj
  src/DataSeed/DataSeed.csproj
  src/DataSeed/packages.lock.json
  src/IdentityModel/IdentityTool/IdentityTool.csproj
  src/Omop/Omop/Omop.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
Labels: Area: CI, Area: Data, Area: DataSeed, Area: Submissions, Area: IdentityModel, Area: Core

#460 AB#76204: Footer controller port
  src/Directory/Biobanks.Web/Controllers/FooterController.cs
  src/Submissions/Api/Controllers/Submissions/FooterController.cs
  src/Submissions/Api/Models/Footer/FooterModel.cs
  src/Submissions/Api/Views/Shared/_BBFooter.cshtml
Labels: Area: Directory, Area: Submissions
