Repository biobankinguk/biobankinguk, pull requests merged in 2022-11, with the labels that each got.

#463 AB#76206: Home controller
  src/Directory/Biobanks.Web/Controllers/HomeController.cs
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Controllers/ContactController.cs
  src/Submissions/Api/Controllers/HomeController.cs
  src/Submissions/Api/Models/Home/ContactModel.cs
  src/Submissions/Api/Models/Home/HomepageContentModel.cs
  src/Submissions/Api/Models/Home/NetworkNonMemberContactModel.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/Services/Directory/Contracts/IConfigService.cs
  src/Submissions/Api/Utilities/FeedbackMessage.cs
  src/Submissions/Api/Views/Shared/_FeedbackMessage.cshtml
Labels: Area: Directory, Area: Submissions

#465 AB#82739: Custom CSRF Error handling
  src/Submissions/Api/Filters/RedirectAntiforgeryValidationFailedResult.cs
  src/Submissions/Api/Program.cs
Labels: Area: Submissions

#464 AB#82916: Custom error status pages
  src/Submissions/Api/Pages/StatusCode.cshtml
  src/Submissions/Api/Pages/StatusCode.cshtml.cs
  src/Submissions/Api/Program.cs
Labels: Area: Submissions

#466 AB#83730: Fixes to startup and dbcontext
  src/Data/BiobanksDbContext.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Program.cs
Labels: Area: Data, Area: Submissions

#467 AB#83121: Emailservice
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Config/EmailSenderOptions.cs
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Controllers/ContactController.cs
  src/Submissions/Api/Controllers/Directory/HomeController.cs
  src/Submissions/Api/Controllers/HomeController.cs
  src/Submissions/Api/Extensions/ServiceCollectionExtensions.cs
  src/Submissions/Api/Models/Emails/ContactListEmailModel.cs
  src/Submissions/Api/Models/Emails/NonMemberEmailModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/Services/Directory/Contracts/IConfigService.cs
  src/Submissions/Api/Services/Directory/Contracts/IEmailSender.cs
  src/Submissions/Api/Services/EmailSender/LocalDiskEmailSender.cs
  src/Submissions/Api/Services/EmailSender/SendGridEmailSender.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
  src/Submissions/Api/Views/Shared/Emails/EmailContactList.cshtml
  src/Submissions/Api/Views/Shared/Emails/ExternalNetworkNonMemberInformation.cshtml
  src/Submissions/Api/appsettings.json
Labels: Area: Submissions

#471 AB#76203: Flags controller port
  src/Directory/Biobanks.Web/Controllers/FlagsController.cs
  src/Submissions/Api/Controllers/Directory/FlagsController.cs
  src/Submissions/Api/Models/Shared/SiteConfigModel.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/Services/Directory/Contracts/IConfigService.cs
  src/Submissions/Api/Views/Flags/FlagsConfig.cshtml
Labels: Area: Directory, Area: Submissions

#472 AB#78746: Extractionprocedure controller port
  src/Directory/Biobanks.Web/ApiControllers/ExtractionProcedureController.cs
  src/Submissions/Api/Controllers/ReferenceData/ExtractionProcedureController.cs
  src/Submissions/Api/Models/Shared/ReadExtractionProcedureModel.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IOntologyTermService.cs
  src/Submissions/Api/Services/Directory/OntologyTermService.cs
Labels: Area: Directory, Area: Submissions

#470 AB#83118: Home Views
  src/DataSeed/packages.lock.json
  src/Directory/Data/Configs/Configs.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Controllers/Directory/HomeController.cs
  src/Submissions/Api/HtmlHelpers/MarkdownHelper.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/Views/Home/AltIndex.cshtml
  src/Submissions/Api/Views/Home/Contact.cshtml
  src/Submissions/Api/Views/Home/Cookies.cshtml
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Home/_AltUnifiedSearchBox.cshtml
  src/Submissions/Api/Views/Home/_UnifiedSearchBox.cshtml
  src/Submissions/Api/Views/Shared/_BBHeader.cshtml
Labels: Area: Directory, Area: Directory Data, Area: DataSeed, Area: Submissions

#476 AB#76212: Search controller dependencies
  src/Submissions/Api/Controllers/Directory/SearchController.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/CapabilityService.cs
  src/Submissions/Api/Services/Directory/CollectionService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankIndexService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/ICapabilityService.cs
  src/Submissions/Api/Services/Directory/Contracts/ICollectionService.cs
  src/Submissions/Api/Services/Directory/OntologyTermService.cs
Labels: Area: Submissions

#474 AB#82413: Site config attribute
  src/Directory/Search/packages.lock.json
  src/Submissions/Api/Program.cs
Labels: Area: Directory, Area: Submissions

#477 AB#82664: Clean up folders / move files
  src/Directory/Biobanks.Web/Controllers/VersionController.cs
  src/Submissions/Api/Config/PageStrings.cs
  src/Submissions/Api/Controllers/Directory/ApplicationBaseController.cs
  src/Submissions/Api/Controllers/Directory/FooterController.cs
  src/Submissions/Api/Controllers/Directory/HeaderController.cs
  src/Submissions/Api/Controllers/ReferenceData/CollectionPercentageController.cs
  src/Submissions/Api/Controllers/ReferenceData/DiseaseStatusController.cs
  src/Submissions/Api/Models/Shared/CollectionPercentagesModel.cs
  src/Submissions/Api/Models/Shared/ReadAssociatedDataProcurementTimeFrameModel.cs
  src/Submissions/Api/Models/Shared/ReadAssociatedDataTypeGroupModel.cs
  src/Submissions/Api/Models/Shared/ReadCollectionStatusModel.cs
  src/Submissions/Api/Models/Shared/ReadCollectionTypeModel.cs
  src/Submissions/Api/Models/Shared/ReadConsentRestrictionModel.cs
  src/Submissions/Api/Models/Submissions/ReadCollectionStatusModel.cs
  src/Submissions/Api/Models/Submissions/ReadCollectionTypeModel.cs
  src/Submissions/Api/Models/Submissions/ReadConsentRestrictionModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Views/Shared/_FeedbackMessage.cshtml
Labels: Area: Directory, Area: Submissions

#475 AB#76207: Logo controller
  src/Directory/Biobanks.Web/Controllers/LogoController.cs
  src/Directory/Services/BiobankReadService.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Content/images/NoLogo.png
  src/Submissions/Api/Content/images/NoLogoPublic.png
  src/Submissions/Api/Controllers/Directory/LogoController.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/ILogoService.cs
  src/Submissions/Api/Services/Directory/LogoService.cs
Labels: Area: Directory, Area: Submissions

#478 AB#76214: Term controller port
  src/Directory/Biobanks.Web/Controllers/TermController.cs
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Content/images/term_logo.png
  src/Submissions/Api/Controllers/Directory/TermController.cs
  src/Submissions/Api/Models/Search/TermpageContentModel.cs
  src/Submissions/Api/Models/Shared/TermPageModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Views/Term/Index.cshtml
Labels: Area: Directory, Area: Submissions

#479 AB#84744: View fixes
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Controllers/Directory/FooterController.cs
  src/Submissions/Api/Controllers/Directory/HeaderController.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/ViewComponents/FooterViewComponent.cs
  src/Submissions/Api/ViewComponents/HeaderViewComponent.cs
  src/Submissions/Api/Views/Error/CSRFToken.cshtml
  src/Submissions/Api/Views/Home/AltIndex.cshtml
  src/Submissions/Api/Views/Home/Contact.cshtml
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Home/_AltUnifiedSearchBox.cshtml
  src/Submissions/Api/Views/Home/_UnifiedSearchBox.cshtml
  src/Submissions/Api/Views/Shared/Components/Footer/Default.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/Default.cshtml
  src/Submissions/Api/Views/Shared/Emails/EmailContactList.cshtml
  src/Submissions/Api/Views/Shared/Emails/_ViewStart.cshtml
  src/Submissions/Api/Views/Shared/Error.cshtml
  src/Submissions/Api/Views/Shared/_BBHeader.cshtml
  src/Submissions/Api/Views/_ViewImports.cshtml
Labels: Area: Submissions

#481 AB#82776: Layout
  src/Submissions/Api/Config/CacheKey.cs
  src/Submissions/Api/Settings/footer.json
  src/Submissions/Api/Settings/header.json
  src/Submissions/Api/Settings/navigation.json
  src/Submissions/Api/ViewComponents/FooterViewComponent.cs
  src/Submissions/Api/ViewComponents/HeaderViewComponent.cs
  src/Submissions/Api/Views/Shared/Components/Header/Default.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavDropdown.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItem.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemAccount.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemAdac.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemBasic.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemBiobanks.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemContact.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemLogin.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemLogout.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemNetworks.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemRegisterBiobank.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemRegisterNetwork.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemSuperUser.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavMenu.cshtml
  src/Submissions/Api/Views/Shared/_Layout.cshtml
  src/Submissions/Api/Views/_ViewStart.cshtml
Labels: Area: Submissions

#482 AB#84949: Css bundle
  .editorconfig
  .eslintignore
  .eslintrc.yaml
  .gitattributes
  .gitignore
  .husky/pre-commit
  .prettierignore
  .prettierrc.yaml
  docs/package.json
  package.json
  pnpm-lock.yaml
  src/Submissions/.editorconfig
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Frontend/css/Site.css
  src/Submissions/Api/Frontend/css/divider.css
  src/Submissions/Api/Frontend/css/mdd_styles.css
  src/Submissions/Api/Frontend/css/nav.css
  src/Submissions/Api/Frontend/package.json
  src/Submissions/Api/Frontend/vendor/css/typeahead.css
  src/Submissions/Api/Settings/header.json
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/Default.cshtml
  src/Submissions/Api/Views/Shared/_Layout.cshtml
  src/Submissions/Api/bundleconfig.json
  src/Submissions/Api/wwwroot/images/NoLogo.png
  src/Submissions/Api/wwwroot/images/NoLogoPublic.png
  src/Submissions/Api/wwwroot/images/splash_background.jpg
  src/Submissions/Api/wwwroot/images/term_logo.png
  src/Submissions/Api/wwwroot/vendor/cookieconsent/cookieconsent.css
  src/Submissions/Api/wwwroot/vendor/cookieconsent/cookieconsent.min.js
  src/Submissions/Submissions.sln
Labels: Area: Submissions, Area: Docs
