Repository biobankinguk/biobankinguk, pull requests merged in 2022-12, with the labels that each got.

#484 AB#76198: Net core identity
  src/Data/BiobanksDbContext.cs
  src/Data/Entities/ApplicationUser.cs
  src/Directory/Biobanks.Web/Biobanks.Web.csproj
  src/Directory/Biobanks.Web/Controllers/AccountController.cs
  src/Directory/Biobanks.Web/packages.config
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/Entities/ApplicationUser.cs
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Constants/CustomClaimTypes.cs
  src/Submissions/Api/Constants/Role.cs
  src/Submissions/Api/Controllers/ContactController.cs
  src/Submissions/Api/Controllers/Directory/AccountController.cs
  src/Submissions/Api/Controllers/Directory/ApplicationBaseController.cs
  src/Submissions/Api/Controllers/Directory/HomeController.cs
  src/Submissions/Api/Middleware/UpdateLastLoginMiddleware.cs
  src/Submissions/Api/Models/Account/AccountDetailsModel.cs
  src/Submissions/Api/Models/Account/ForgotPasswordModel.cs
  src/Submissions/Api/Models/Account/LoginModel.cs
  src/Submissions/Api/Models/Account/ResetPasswordModel.cs
  src/Submissions/Api/Models/Emails/PasswordResetModel.cs
  src/Submissions/Api/Models/Emails/ResendConfirmModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/INetworkService.cs
  src/Submissions/Api/Services/Directory/Contracts/IOrganisationDirectoryService.cs
  src/Submissions/Api/Services/Directory/NetworkService.cs
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
  src/Submissions/Api/Utilities/FeedbackMessage.cs
  src/Submissions/Api/ViewComponents/HeaderViewComponent.cs
  src/Submissions/Api/Views/Account/Edit.cshtml
  src/Submissions/Api/Views/Account/EditorTemplates/AccountDetailsModel.cshtml
  src/Submissions/Api/Views/Account/EditorTemplates/LogInModel.cshtml
  src/Submissions/Api/Views/Account/EditorTemplates/ResetPasswordModel.cshtml
  src/Submissions/Api/Views/Account/ForgotPassword.cshtml
  src/Submissions/Api/Views/Account/ForgotPasswordConfirmation.cshtml
  src/Submissions/Api/Views/Account/Index.cshtml
  src/Submissions/Api/Views/Account/Login.cshtml
  src/Submissions/Api/Views/Account/ResetPassword.cshtml
  src/Submissions/Api/Views/Search/CollectionsDetail.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemAdac.cshtml
  src/Submissions/Api/Views/Shared/Components/Header/_NavItemSuperUser.cshtml
  src/Submissions/Api/Views/Shared/Emails/EmailContactList.cshtml
  src/Submissions/Api/Views/Shared/Emails/PasswordReset.cshtml
  src/Submissions/Api/Views/Shared/_FeedbackMessage.cshtml
  src/Submissions/Submissions.sln
Labels: Area: Data, Area: Directory, Area: Submissions

#485 AB#76213: Super User Controller
  src/Core/Shared/Services/Contracts/IOrganisationService.cs
  src/Core/Shared/Services/OrganisationService.cs
  src/Directory/Biobanks.Web/Controllers/SuperUserController.cs
  src/Directory/Search/Legacy/LegacySearchProvider.cs
  src/Submissions/Api/Controllers/Directory/SuperUserController.cs
  src/Submissions/Api/Models/SuperUser/SearchIndexModel.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/ISampleSetService.cs
  src/Submissions/Api/Services/Directory/SampleSetService.cs
  src/Submissions/Api/Views/SuperUser/Index.cshtml
  src/Submissions/Api/Views/SuperUser/SearchIndex.cshtml
  src/Submissions/Api/Views/SuperUser/Tools.cshtml
  src/Submissions/Api/Views/SuperUser/_SuperUserTabs.cshtml
Labels: Area: Directory, Area: Submissions, Area: Core

#488 AB#84363: Biobanks Controller
  src/Submissions/Api/Areas/Admin/Controllers/BiobanksController.cs
  src/Submissions/Api/Areas/Admin/Models/BiobankAdminsModel.cs
  src/Submissions/Api/Areas/Admin/Views/Biobank/Admins.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobank/Publications.cshtml
  src/Submissions/Api/Middleware/UpdateLastLoginMiddleware.cs
  src/Submissions/Api/Models/Emails/ExistingUserRegisterEntityAdminInviteModel.cs
  src/Submissions/Api/Models/Emails/NewUserRegisterEntityAdminInviteModel.cs
  src/Submissions/Api/Models/Shared/InviteRegisterEntityAdminModel.cs
  src/Submissions/Api/Models/Shared/RegisterEntityAdminModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankService.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
  src/Submissions/Api/Utilities/FeedbackMessage.cs
  src/Submissions/Api/Views/Shared/Emails/ExistingUserRegisterEntityAdminInvite.cshtml
  src/Submissions/Api/Views/Shared/Emails/NewUserRegisterEntityAdminInvite.cshtml
  src/Submissions/Api/Views/Shared/_ModalInviteAdmin.cshtml
Labels: Area: Submissions

#492 AB#84200: Reference Data
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Models/NetworkModel.cs
  src/Submissions/Api/Areas/Admin/Models/NetworksModel.cs
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/Networks.cshtml
  src/Submissions/Api/Program.cs
Labels: Area: Submissions

#491 AB#84285: SiteConfigController port
  src/Submissions/Api/Areas/Admin/Controllers/SiteConfigController.cs
  src/Submissions/Api/Areas/Admin/Models/RegisterConfigModel.cs
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/HomepageConfig.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/HomepageConfigPreview.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/RegisterPagesConfig.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/SampleResourceConfig.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/SiteConfig.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/TermpageConfig.cshtml
  src/Submissions/Api/Areas/Admin/Views/SiteConfig/TermpageConfigPreview.cshtml
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Services/Directory/ConfigService.cs
  src/Submissions/Api/Services/Directory/Contracts/IConfigService.cs
Labels: Area: Submissions

#494 AB#84331: Requests Controller
  src/Submissions/Api/Areas/Admin/Controllers/RequestsController.cs
  src/Submissions/Api/Areas/Admin/Models/BiobankActivityModel.cs
  src/Submissions/Api/Areas/Admin/Models/BiobankRequestModel.cs
  src/Submissions/Api/Areas/Admin/Models/NetworkRequestModel.cs
  src/Submissions/Api/Areas/Admin/Models/RequestsModel.cs
  src/Submissions/Api/Areas/Admin/Views/Requests/BiobankActivity.cshtml
  src/Submissions/Api/Areas/Admin/Views/Requests/Index.cshtml
  src/Submissions/Api/Models/Emails/ExistingUserRegisterEntityAcceptedModel.cs
  src/Submissions/Api/Models/Emails/NewUserRegisterEntityAcceptedModel.cs
  src/Submissions/Api/Models/Emails/RegisterEntityDeclinedModel.cs
  src/Submissions/Api/Services/Directory/Dto/BiobankActivityDTO.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
  src/Submissions/Api/Views/Shared/Emails/ExistingUserRegisterEntityAccepted.cshtml
  src/Submissions/Api/Views/Shared/Emails/NewUserRegisterEntityAccepted.cshtml
  src/Submissions/Api/Views/Shared/Emails/RegisterEntityDeclined.cshtml
Labels: Area: Submissions

#495 AB#84344: FunderController Admin Area
  src/Submissions/Api/Areas/Admin/Controllers/FunderController.cs
  src/Submissions/Api/Areas/Admin/Models/FunderModel.cs
  src/Submissions/Api/Areas/Admin/Views/Funder/Funders.cshtml
Labels: Area: Submissions

#496 AB#84385: Lockedref method
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/LockedRef.cshtml
Labels: Area: Submissions

#497 AB#84312: Analytics controller
  src/Submissions/Api/Areas/Admin/Controllers/AnalyticsController.cs
  src/Submissions/Api/Areas/Admin/Models/Analytics/DirectoryAnalyticReport.cs
  src/Submissions/Api/Areas/Admin/Views/Analytics/Analytics.cshtml
  src/Submissions/Api/Controllers/AnalyticsController.cs
Labels: Area: Submissions
