Repository biobankinguk/biobankinguk, pull requests merged in 2022-09, with the labels that each got.

#395 AB#47295: New Ontology term table column
  src/Directory/Biobanks.Web/ApiControllers/DiseaseStatusController.cs
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Directory/Biobanks.Web/Scripts/ADAC/adac-disease-statuses.js
  src/Directory/Biobanks.Web/Views/ADAC/DiseaseStatuses.cshtml
  src/Directory/Services/OntologyTermService.cs
Labels: Area: Directory, Area: Directory Data

#413 AB#76177: Image service
  src/Directory/Services/ImageService.cs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Services/Submissions/ImageService.cs
Labels: Area: Directory, Area: Submissions

#376 AB#46818: Omop context
  src/Omop/Omop.sln
  src/Omop/Omop/Context/OmopDbContext.cs
  src/Omop/Omop/Entities/ConditionOccurence.cs
  src/Omop/Omop/Omop.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Startup.cs
  src/Submissions/Api/appsettings.json
  src/Submissions/Submissions.sln
Labels: Area: Submissions
