Repository biobankinguk/biobankinguk, pull requests merged in 2022-05, with the labels that each got.

#380 AB#59048: Replaced exception with null return, which is consistent with what th…
  src/Directory/Services/Contracts/IPublicationService.cs
  src/Directory/Services/PublicationService.cs
Labels: Area: Directory

#384 AB#59418: Fix for labeler on dependabot PRs
  .github/workflows/label.yml
Labels: Area: CI

#383 AB#47307:added endpoint to get associated data types of ontology term
  src/Directory/Biobanks.Web/ApiControllers/DiseaseStatusController.cs
  src/Directory/Services/Contracts/IOntologyTermService.cs
  src/Directory/Services/OntologyTermService.cs
Labels: Area: Directory

#385 AB#47310: Added Service function
  src/Directory/Services/Contracts/IOntologyTermService.cs
  src/Directory/Services/OntologyTermService.cs
Labels: Area: Directory

#386 AB#47303: Added related associated data in 'add collection'
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AssociatedDataModel.cs
  src/Directory/Biobanks.Web/Scripts/Shared/diagnosis-type-ahead.js
  src/Directory/Biobanks.Web/Views/Biobank/EditorTemplates/AssociatedDataModel.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_AssociatedData.cshtml
  src/Directory/Biobanks.Web/Views/Biobank/_LinkedAssociatedData.cshtml
  src/Directory/Data/BiobanksDbContext.cs
Labels: Area: Directory, Area: Directory Data

#387 AB#47306: Added-ass-data filter
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
Labels: Area: Directory

#388 AB#47311: Edit collections loading
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
Labels: Area: Directory, Area: Directory Data

#389 AB#47308: Added validation for posting linked associated data types
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
Labels: Area: Directory

#390 AB#47312: Edit collections linked data validation
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
Labels: Area: Directory
