Repository biobankinguk/biobankinguk, pull requests merged in 2023-03, with the labels that each got.

#547 AB#96640: Admin PagesAdmin Controller
  src/Submissions/Api/Areas/Admin/Controllers/PagesAdminController.cs
  src/Submissions/Api/Areas/Admin/Models/PagesAdmin/ContentPageModel.cs
  src/Submissions/Api/Areas/Admin/Views/PagesAdmin/ContentPage.cshtml
  src/Submissions/Api/Areas/Admin/Views/PagesAdmin/CreateEdit.cshtml
  src/Submissions/Api/Areas/Admin/Views/PagesAdmin/CreateEditPreview.cshtml
  src/Submissions/Api/Areas/Admin/Views/PagesAdmin/Index.cshtml
  src/Submissions/Api/Controllers/Directory/PagesAdminController.cs
  src/Submissions/Api/Frontend/js/pages/Admin/adac-pages-admin.js
  src/Submissions/Api/Startup/Web/ConfigureWebPipeline.cs
  src/Submissions/Api/Views/PagesAdmin/CreateEdit.cshtml
  src/Submissions/Api/Views/PagesAdmin/Index.cshtml
  src/Submissions/Api/bundleconfig.json
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions

#550 AB#96650: Search Controller / Elasticsearch Upgrade
  elastic-search/docker-compose.yml
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Frontend/js/init/search-diagnosis-type-ahead.js
  src/Submissions/Api/MappingProfiles/DetailedCapabilitySearchProfile.cs
  src/Submissions/Api/MappingProfiles/DetailedCollectionSearchProfile.cs
  src/Submissions/Api/Scripts/Search/facet-groups.js
  src/Submissions/Api/Scripts/Shared/search-diagnosis-type-ahead.js
  src/Submissions/Api/Scripts/typeahead.bundle.js
  src/Submissions/Api/Search/Elastic/ElasticCapabilityIndexProvider.cs
  src/Submissions/Api/Search/Elastic/ElasticCapabilitySearchProvider.cs
  src/Submissions/Api/Search/Elastic/ElasticCollectionIndexProvider.cs
  src/Submissions/Api/Search/Elastic/ElasticCollectionSearchProvider.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/CollectionService.cs
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Search/Capabilities.cshtml
  src/Submissions/Api/Views/Search/Collections.cshtml
  src/Submissions/Api/Views/Search/CollectionsDetail.cshtml
  src/Submissions/Api/Views/Search/NoResults.cshtml
  src/Submissions/Api/Views/Term/Index.cshtml
  src/Submissions/Api/bundleconfig.json
Labels: Area: Submissions, Area: Elastic Search

#551 AB#98007: Home/contact controller
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Controllers/ContactController.cs
  src/Submissions/Api/Controllers/Directory/HomeController.cs
  src/Submissions/Api/Frontend/js/pages/Home/home-contactlist.js
  src/Submissions/Api/MappingProfiles/ContactBiobankProfile.cs
  src/Submissions/Api/Models/Contact/OrganisationContactModel.cs
  src/Submissions/Api/Views/Home/AltIndex.cshtml
  src/Submissions/Api/Views/Home/Contact.cshtml
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Shared/Emails/EmailContactList.cshtml
Labels: Area: Submissions

#526 AB#89361: Admin Analytics testing
  src/Core/Analytics/AnalyticsOptions.cs
  src/Core/Analytics/Services/GoogleAnalyticsReportingService.cs
  src/Core/Jobs/AnalyticsJob.cs
  src/Submissions/Api/Areas/Admin/Controllers/AnalyticsController.cs
  src/Submissions/Api/Areas/Admin/Views/Analytics/Index.cshtml
  src/Submissions/Api/Areas/Admin/Views/Shared/_ADACTabs.cshtml
  src/Submissions/Api/Frontend/js/pages/Admin/adac-analytics-directoryreport.js
  src/Submissions/Api/MappingProfiles/DirectoryReportDtoProfile.cs
  src/Submissions/Api/MappingProfiles/EventStatDtoProfile.cs
  src/Submissions/Api/MappingProfiles/ProfilePageStatDtoProfile.cs
  src/Submissions/Api/MappingProfiles/SearchCharacteristicDtoProfile.cs
  src/Submissions/Api/MappingProfiles/SessionStatDtoProfile.cs
  src/Submissions/Api/MappingProfiles/SourceCountDtoProfile.cs
  src/Submissions/Api/Services/Submissions/Contracts/IBackgroundJobEnqueueingService.cs
  src/Submissions/Api/Services/Submissions/HangfireQueueService.cs
  src/Submissions/Api/Startup/Web/ConfigureWebPipeline.cs
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions, Area: Analytics, Area: Core

#552 AB#97671: Fix smaller bugs
  src/Submissions/Api/Areas/Admin/Controllers/BiobanksController.cs
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AccessConditions.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AgeRanges.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AnnualStatisticGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AnnualStatistics.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataProcurementTimeFrame.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataTypeGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionPercentages.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionStatus.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionType.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ConsentRestriction.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/Country.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/County.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/DiseaseStatuses.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/DonorCounts.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ExtractionProcedure.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/LockedRef.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MacroscopicAssessments.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MaterialTypeGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MaterialTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/PreservationTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/RegistrationReason.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/SampleCollectionModes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ServiceOffering.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/Sexes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/SopStatus.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/StorageTemperatures.cshtml
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/AddCapability.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Edit.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Index.cshtml
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Network/Views/Profile/Biobanks.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/Details.cshtml
  src/Submissions/Api/Controllers/Directory/AccountController.cs
  src/Submissions/Api/Frontend/css/Site.css
  src/Submissions/Api/Frontend/js/pages/Biobank/details-logo.js
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
  src/Submissions/Api/Views/Account/Login.cshtml
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Shared/_Layout.cshtml
Labels: Area: Submissions

#553 AB#95251: Controller Testing - Report
  src/Core/Analytics/Dto/OrganisationReportDto.cs
  src/Core/Analytics/Services/DirectoryReportGenerator.cs
  src/Core/Analytics/Services/OrganisationReportGenerator.cs
  src/Submissions/Api/Areas/Biobank/Views/Report/Analytics.cshtml
  src/Submissions/Api/Frontend/js/pages/Biobank/analytics-biobankreport.js
  src/Submissions/Api/MappingProfiles/BiobankAnalyticReportProfile.cs
  src/Submissions/Api/Services/Directory/AnalyticsReportGenerator.cs
  src/Submissions/Api/Services/Directory/Contracts/IAnalyticsReportGenerator.cs
  src/Submissions/Api/Services/Directory/Dto/BiobankAnalyticReportDTO.cs
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
Labels: Area: Submissions, Area: Analytics, Area: Core

#555 AB#98808: Historical requests, frontend bundling, and bugs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Areas/Admin/Views/Biobanks/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_SampleSetSharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Report/Analytics.cshtml
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Frontend/js/pages/Admin/adac-disease-statuses.js
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
  src/Submissions/Api/Views/Account/Index.cshtml
  src/Submissions/Api/Views/Shared/_Layout.cshtml
  src/Submissions/Api/bundleconfig.json
  src/Submissions/Api/wwwroot/override.css
Labels: Area: Submissions

#556 AB#97669: Breadcrumbs Navigation
  src/Submissions/Api/Areas/Admin/Views/Networks/Index.cshtml
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Controllers/Directory/FlagsController.cs
  src/Submissions/Api/Views/Flags/Index.cshtml
  src/Submissions/Api/Views/Shared/Components/Navigation/BreadcrumbsHelper.cshtml
  src/Submissions/Api/Views/Shared/_Breadcrumbs.cshtml
  src/Submissions/Api/Views/SuperUser/Index.cshtml
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions

#557 AB#99137: Material Details + Associated Data fixes
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataTypes.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/AddCapability.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/AddCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/EditCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/EditSampleSet.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_SampleSetSharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Edit.cshtml
  src/Submissions/Api/Frontend/js/pages/Biobank/collection-sample-sets.js
  src/Submissions/Api/Services/Directory/AssociatedDataTypeService.cs
  src/Submissions/Api/Views/Account/Edit.cshtml
Labels: Area: Submissions

#558 AB#98894: Fix biobank suspended warning
  src/Submissions/Api/Areas/Biobank/Controllers/CapabilitiesController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ReportController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/SettingsController.cs
  src/Submissions/Api/Filters/SuspendedWarningAttribute.cs
Labels: Area: Submissions

#560 AB#98747: url routing
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Frontend/js/pages/Biobank/admins-viewmodel.js
  src/Submissions/Api/Frontend/js/pages/Biobank/funders-viewmodel.js
  src/Submissions/Api/Frontend/js/pages/Network/admins-viewmodel.js
  src/Submissions/Api/Startup/Web/ConfigureWebPipeline.cs
Labels: Area: Submissions

#559 AB#99140: Breadcrumbs missing
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions

#561 AB#99399: Sample set and Collection breadcrumb changes
  src/Submissions/Api/Areas/Admin/Controllers/PagesAdminController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions

#562 AB#99398: Capabilities do not update
  src/Submissions/Api/Services/Directory/CapabilityService.cs
Labels: Area: Submissions

#563 AB#99558: Update to BuildBundlerMinifier fork
  src/Submissions/Api/Api.csproj
Labels: Area: Submissions

#564 AB#39005: Generic Repo Replace
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankService.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IGenericEFRepository.cs
  src/Submissions/Api/Services/Directory/DiseaseStatusService.cs
  src/Submissions/Api/Services/Directory/SqlServerLogoStorageProvider.cs
  src/Submissions/Api/Services/Directory/TokenLoggingService.cs
  src/Submissions/Api/Services/GenericEFRepository.cs
  src/Submissions/Api/Startup/Web/ConfigureWebServices.cs
Labels: Area: Submissions

#565 AB#34689: Documentation updates
  .github/workflows/publish.docs.yml
  README.md
  docs/docs/dev/IdentityTool.md
  docs/docs/dev/cli/_category_.json
  docs/docs/dev/cli/api.md
  docs/docs/dev/cli/crypto.md
  docs/docs/dev/cli/index.md
  docs/docs/dev/cli/ref-data.md
  docs/docs/dev/cli/users.md
  docs/docs/dev/directory/_category_.json
  docs/docs/dev/directory/elasticsearch.md
  docs/docs/dev/directory/email-sending.md
  docs/docs/dev/directory/index.md
  docs/docs/dev/getting-started/_category_.json
  docs/docs/dev/getting-started/index.md
  docs/docs/dev/getting-started/pnpm-cheatsheet.md
  docs/docs/dev/getting-started/seed-data.md
  docs/docs/dev/getting-started/structure.md
  docs/docs/dev/index.md
  docs/docs/dev/submissions/_category_.json
  docs/docs/dev/submissions/api-authorization.md
  docs/docs/dev/submissions/api-services.md
  docs/docs/dev/submissions/api-testing.md
  docs/docs/dev/submissions/worker-jobs.md
  docs/package.json
  docs/src/theme/Layout.tsx
  docs/tsconfig.json
  pnpm-lock.yaml
  src/Submissions/Api/appsettings.json
  src/Submissions/README.md
Labels: Area: CI, Area: Submissions, Area: Docs

#566 AB#99774: Biobanking Edit Fix
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
Labels: Area: Submissions

#567 AB#99808: Fix areas JS url building
  .github/workflows/publish.docs.yml
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/_CapabilitySharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_CollectionSharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Edit.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/EditorTemplates/AddFunderModel.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Funders.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Publications.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Settings/Admins.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Settings/Submissions.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/AddBiobank.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/Edit.cshtml
  src/Submissions/Api/Areas/Network/Views/Settings/Admins.cshtml
  src/Submissions/Api/Controllers/Directory/FlagsController.cs
  src/Submissions/Api/Frontend/js/pages/Biobank/admins-viewmodel.js
  src/Submissions/Api/Frontend/js/pages/Biobank/details-logo.js
  src/Submissions/Api/Frontend/js/pages/Biobank/diagnosis-type-ahead.js
  src/Submissions/Api/Frontend/js/pages/Biobank/funders-type-ahead.js
  src/Submissions/Api/Frontend/js/pages/Biobank/funders-viewmodel.js
  src/Submissions/Api/Frontend/js/pages/Biobank/publications.js
  src/Submissions/Api/Frontend/js/pages/Network/admins-viewmodel.js
  src/Submissions/Api/Frontend/js/pages/Network/biobanks-type-ahead.js
  src/Submissions/Api/Frontend/js/pages/Network/details-logo.js
  src/Submissions/Api/Startup/Web/ConfigureWebPipeline.cs
Labels: Area: CI, Area: Submissions

#570 AB#100197: Fix auth vulnerabilities
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ReportController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Network/Controllers/SettingsController.cs
  src/Submissions/Api/Auth/AuthPolicies.cs
Labels: Area: Submissions
