Repository biobankinguk/biobankinguk, pull requests merged in 2023-01, with the labels that each got.

#499 AB#85147: Collection Controller area
  src/Core/Shared/Services/AccessConditionService.cs
  src/Core/Shared/Services/Contracts/IReferenceDataService.cs
  src/Core/Shared/Services/ReferenceDataService.cs
  src/Directory/Biobanks.Web/Controllers/BiobankController.cs
  src/Directory/Biobanks.Web/Models/Biobank/AbstractCRUDCollectionModel.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/AbstractCRUDCollectionModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/AbstractCRUDSampleSetModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/AddCapabilityModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/AddCollectionModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/AddSampleSetModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/BiobankCollectionsModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/CollectionModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/CopySampleSetModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/EditCollectionModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/EditSampleSetModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/ReferenceDataModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Collections/SampleSetModel.cs
  src/Submissions/Api/Areas/Biobank/Views/Collections/AddCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/Collection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/EditCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/SampleSet.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_AssociatedData.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_CollectionSharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Collections/_DataProtectionAlert.cshtml
  src/Submissions/Api/Config/ConfigKey.cs
  src/Submissions/Api/Models/Shared/AbstractCRUDCapabilityModel.cs
  src/Submissions/Api/Models/Shared/AbstractCRUDWithAssociatedDataModel.cs
  src/Submissions/Api/Models/Shared/AssociatedDataGroupModel.cs
  src/Submissions/Api/Models/Shared/AssociatedDataModel.cs
  src/Submissions/Api/Models/Shared/AssociatedDataTimeFrameModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/AbstractCrudService.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/IAbstractCrudService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/IMaterialTypeService.cs
  src/Submissions/Api/Services/Directory/Contracts/ISampleSetService.cs
  src/Submissions/Api/Services/Directory/MaterialTypeService.cs
  src/Submissions/Api/Services/Directory/SampleSetService.cs
  src/Submissions/Api/Views/Directory/_BiobankTabs.cshtml
Labels: Area: Directory, Area: Submissions, Area: Core

#500 AB#85169: Biobank Settings controller
  src/Core/Core.csproj
  src/Submissions/Api/Areas/Biobank/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Biobank/Models/Settings/BiobankAdminsModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Settings/ReferenceDataModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Settings/SubmissionsModel.cs
  src/Submissions/Api/Areas/Biobank/Views/Settings/Admins.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Settings/Submissions.cshtml
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/AbstractCrudService.cs
Labels: Area: Submissions, Area: Core

#501 AB#85174: Biobank Report controller
  src/Submissions/Api/Areas/Biobank/Controllers/ReportController.cs
  src/Submissions/Api/Areas/Biobank/Models/Report/BiobankAnalyticReport.cs
  src/Submissions/Api/Areas/Biobank/Views/Report/Analytics.cshtml
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/AnalyticsReportGenerator.cs
Labels: Area: Submissions, Area: Core

#502 AB#85179: Network Settings controller
  src/Submissions/Api/Areas/Network/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Network/Models/NetworkAdminsModel.cs
  src/Submissions/Api/Areas/Network/Views/Settings/Admins.cshtml
  src/Submissions/Api/Areas/Network/Views/Settings/_ModalInviteAdmin.cshtml
  src/Submissions/Api/Areas/Network/Views/_NetworkTabs.cshtml
  src/Submissions/Api/Frontend/js/pages/Admin/adac-macro-assessments.js
  src/Submissions/Api/Views/Shared/_SuspendedWarning.cshtml
  src/Submissions/Api/_ViewStart.cshtml
  src/Submissions/Api/bundleconfig.json
Labels: Area: Submissions

#503 AB#85155: Capabilities Controller Biobank Area
  src/Submissions/Api/Areas/Biobank/Controllers/CapabilitiesController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Areas/Biobank/Models/Capabilities/AssociatedDataSummaryModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Capabilities/BiobankCapabilitiesModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Capabilities/CapabilityModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Capabilities/EditCapabilityModel.cs
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/AddCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/Collection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/EditCollection.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/SampleSet.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/_AssociatedData.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/_BiobankTabs.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/_CollectionSharedFields.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Capabilities/_DataProtectionAlert.cshtml
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/AbstractCrudService.cs
  src/Submissions/Api/Services/Directory/BiobankIndexService.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/CapabilityService.cs
  src/Submissions/Api/Services/Directory/Contracts/IAbstractCrudService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/ICapabilityService.cs
  src/Submissions/Api/Services/Directory/OntologyTermService.cs
Labels: Area: Submissions

#505 AB#85178: Profile controller for network area
  src/Data/Transforms/Url/InvalidUrlSchemeException.cs
  src/Data/Transforms/Url/UrlSchemes.cs
  src/Data/Transforms/Url/UrlTransformer.cs
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Network/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Network/Models/AddBiobankToNetworkModel.cs
  src/Submissions/Api/Areas/Network/Models/NetworkBiobankModel.cs
  src/Submissions/Api/Areas/Network/Models/NetworkDetailsModel.cs
  src/Submissions/Api/Areas/Network/Models/RegisterEntityAdminModel.cs
  src/Submissions/Api/Areas/Network/Views/Profile/AddBiobank.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/Biobanks.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/Details.cshtml
  src/Submissions/Api/Areas/Network/Views/Profile/Edit.cshtml
  src/Submissions/Api/Extensions/IFormFileExtensions.cs
  src/Submissions/Api/Models/Emails/NewBiobankNetworkRegistrationNotificationModel.cs
  src/Submissions/Api/Services/Directory/Contracts/ILogoStorageProvider.cs
  src/Submissions/Api/Services/Directory/SqlServerLogoStorageProvider.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
Labels: Area: Data, Area: Submissions

#504 AB#76211: Register controller
  src/Directory/Biobanks.Web/Controllers/RegisterController.cs
  src/Directory/Biobanks.Web/Filters/VerifyRecaptchaAttribute.cs
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Controllers/Directory/AccountController.cs
  src/Submissions/Api/Controllers/Directory/RegisterController.cs
  src/Submissions/Api/Extensions/ServiceCollectionExtensions.cs
  src/Submissions/Api/Models/Emails/DirectoryAdminNewRegisterRequestNotificationModel.cs
  src/Submissions/Api/Models/Register/RecaptchaResponse.cs
  src/Submissions/Api/Models/Register/RegisterEntityModel.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/Contracts/IRecaptchaService.cs
  src/Submissions/Api/Services/Directory/RecaptchaService.cs
  src/Submissions/Api/Services/EmailServices/Contracts/IEmailService.cs
  src/Submissions/Api/Services/EmailServices/EmailService.cs
  src/Submissions/Api/Views/Register/Biobank.cshtml
  src/Submissions/Api/Views/Register/Network.cshtml
  src/Submissions/Api/Views/Register/RegisterConfirmation.cshtml
  src/Submissions/Api/Views/Shared/Emails/DirectoryAdminNewRegisterRequestNotification.cshtml
Labels: Area: Directory, Area: Submissions

#506 AB#85109: Profile Controller Update
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Program.cs
Labels: Area: Submissions

#507 AB#85160: Biobank Profile controller
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/AddFunderModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/AnnualStatModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/BiobankAnnualStatsModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/BiobankDetailsModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/BiobankFundersModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/OrganisationRegistrationReasonModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/OrganisationServiceModel.cs
  src/Submissions/Api/Areas/Biobank/Models/Profile/PublicationSearchModel.cs
  src/Submissions/Api/Areas/Biobank/Views/Profile/AnnualStats.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Edit.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Funders.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Index.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/Publications.cshtml
  src/Submissions/Api/Areas/Biobank/Views/Profile/_ModalAddFunder.cshtml
  src/Submissions/Api/Config/SitePropertiesOptions.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankService.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/bundleconfig.json
Labels: Area: Submissions

#509 AB#84952: Replace MVP sitemap - breadcrumbs
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Controllers/Directory/PagesAdminController.cs
  src/Submissions/Api/Controllers/Directory/TermController.cs
  src/Submissions/Api/Frontend/css/Site.css
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/CollectionService.cs
  src/Submissions/Api/Views/Register/Biobank.cshtml
  src/Submissions/Api/Views/Register/EditorTemplates/RegisterEntityModel.cshtml
  src/Submissions/Api/Views/Shared/_Breadcrumbs.cshtml
  src/Submissions/Api/Views/Shared/_Layout.cshtml
  src/Submissions/Api/appsettings.json
  src/Submissions/Api/navigation.xml
Labels: Area: Submissions

#511 AB#88726: Updates image previews
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Views/Profile/Edit.cshtml
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Network/Views/Profile/Edit.cshtml
  src/Submissions/Api/Frontend/js/pages/Admin/adac-analytics-directoryreport.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-biobanks.js
  src/Submissions/Api/Frontend/js/pages/Biobank/details-logo.js
  src/Submissions/Api/Frontend/js/pages/Network/details-logo.js
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Services/Directory/BiobankWriteService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankService.cs
  src/Submissions/Api/Services/Submissions/ImageService.cs
  src/Submissions/Api/bundleconfig.json
Labels: Area: Submissions

#512 AB#94114: Controller requests: historical
  .config/dotnet-tools.json
  README.md
  src/Submissions/Api/Areas/Admin/Controllers/RequestsController.cs
  src/Submissions/Api/Areas/Admin/Models/Requests/HistoricalModel.cs
  src/Submissions/Api/Areas/Admin/Models/Requests/HistoricalRequestModel.cs
  src/Submissions/Api/Areas/Admin/Views/Requests/Historical.cshtml
Labels: Area: Submissions

#513 AB#94115: Controller Admin Area, Biobanks Region.
  src/Submissions/Api/Areas/Admin/Controllers/BiobanksController.cs
  src/Submissions/Api/Areas/Admin/Models/Biobank/BiobankAdminsModel.cs
  src/Submissions/Api/Areas/Admin/Models/Biobanks/BiobankModel.cs
  src/Submissions/Api/Areas/Admin/Models/Biobanks/BiobanksModel.cs
  src/Submissions/Api/Areas/Admin/Models/Biobanks/ResetPasswordEntityModel.cs
  src/Submissions/Api/Areas/Admin/Views/Biobank/Admins.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobank/Publications.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobanks/BiobankAdmin.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobanks/Biobanks.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobanks/DeleteBiobank.cshtml
  src/Submissions/Api/Areas/Admin/Views/Biobanks/_ModalResetPassword.cshtml
  src/Submissions/Api/MappingProfiles/BiobankProfile.cs
  src/Submissions/Api/Services/Directory/BiobankReadService.cs
  src/Submissions/Api/Services/Directory/BiobankService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankReadService.cs
  src/Submissions/Api/Services/Directory/Contracts/IBiobankService.cs
Labels: Area: Submissions

#514 AB#34686: Cli startup
  .github/workflows/build.dataseed.yml
  .github/workflows/build.identitytool.yml
  .husky/pre-commit
  README.md
  docs/docs/dev/IdentityTool.md
  docs/docs/dev/index.md
  pnpm-lock.yaml
  src/Core/Core.csproj
  src/Data/Data.csproj
  src/IdentityModel/IdentityModel.sln
  src/IdentityModel/IdentityModel/Extensions/StringCryptoExtensions.cs
  src/IdentityModel/IdentityModel/Helpers/Crypto.cs
  src/IdentityModel/IdentityModel/IdentityModel.csproj
  src/IdentityModel/IdentityModel/Types/OutputFormat.cs
  src/IdentityModel/IdentityTool.sln
  src/IdentityModel/IdentityTool/Commands/AddApiClient.cs
  src/IdentityModel/IdentityTool/Commands/AppRootCommand.cs
  src/IdentityModel/IdentityTool/Commands/GenerateId.cs
  src/IdentityModel/IdentityTool/Commands/Hash.cs
  src/IdentityModel/IdentityTool/Commands/Runners/AddApiClient.cs
  src/IdentityModel/IdentityTool/Commands/Runners/GenerateId.cs
  src/IdentityModel/IdentityTool/Commands/Runners/Hash.cs
  src/IdentityModel/IdentityTool/Extensions/CommandLineServiceCollectionExtensions.cs
  src/IdentityModel/IdentityTool/IdentityTool.csproj
  src/IdentityModel/IdentityTool/Program.cs
  src/IdentityModel/IdentityTool/Startup.cs
  src/IdentityModel/IdentityTool/appsettings.json
  src/Omop/Omop/Omop.csproj
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/Basic/BasicAuthHandler.cs
  src/Submissions/Api/Commands/AddApiClient.cs
  src/Submissions/Api/Commands/GenerateId.cs
  src/Submissions/Api/Commands/Hash.cs
  src/Submissions/Api/Commands/Helpers/Bind.cs
  src/Submissions/Api/Commands/Helpers/CliMiddlewareExtensions.cs
  src/Submissions/Api/Commands/Helpers/ConfigureCommandServices.cs
  src/Submissions/Api/Commands/Runners/AddApiClient.cs
  src/Submissions/Api/Commands/Runners/GenerateId.cs
  src/Submissions/Api/Commands/Runners/Hash.cs
  src/Submissions/Api/Controllers/Submissions/TokenController.cs
  src/Submissions/Api/Program.cs
  src/Submissions/Api/Properties/launchSettings.json
  src/Submissions/Api/Services/Directory/OrganisationDirectoryService.cs
  src/Submissions/Api/Startup/Cli/CliEntrypoint.cs
  src/Submissions/Api/Startup/EfCoreMigrations/EfCoreMigrationsEntrypoint.cs
  src/Submissions/Api/Startup/Web/WebEntrypoint.cs
  src/Submissions/Api/Utilities/IdentityModel/Crypto.cs
  src/Submissions/Api/Utilities/IdentityModel/OutputFormat.cs
  src/Submissions/Api/Utilities/IdentityModel/StringCryptoExtensions.cs
  src/Submissions/Submissions.sln
Labels: Area: CI, Area: Data, Area: Submissions, Area: IdentityModel, Area: Core, Area: Docs

#516 AB#34690: porting DataSeed to Submissions CLI
  .config/dotnet-tools.json
  .github/labeler.yml
  README.md
  src/DataSeed/DataSeed.csproj
  src/DataSeed/DataSeed.sln
  src/DataSeed/Dto/CountriesDTO.cs
  src/DataSeed/Program.cs
  src/DataSeed/Properties/launchSettings.json
  src/DataSeed/Properties/serviceDependencies.json
  src/DataSeed/Properties/serviceDependencies.local.json
  src/DataSeed/README.md
  src/DataSeed/Services/CountriesWebService.cs
  src/DataSeed/Services/SeedingService.cs
  src/DataSeed/Startup.cs
  src/DataSeed/appsettings.json
  src/DataSeed/packages.lock.json
  src/Submissions/Api/Commands/Helpers/Prompt.cs
  src/Submissions/Api/Commands/Runners/AddApiClient.cs
  src/Submissions/Api/Commands/Runners/SeedRefData.cs
  src/Submissions/Api/Commands/SeedRefData.cs
  src/Submissions/Api/Startup/Cli/CliEntrypoint.cs
  src/Submissions/Api/appsettings.json
Labels: Area: CI, Area: Submissions

#518 AB#82914: 401
  pnpm-lock.yaml
  src/Submissions/Api/Api.csproj
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Auth/CustomClaimTypes.cs
  src/Submissions/Api/Controllers/Directory/AccountController.cs
  src/Submissions/Api/Frontend/js/pages/Admin/adac-analytics-directoryreport.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-biobanks.js
  src/Submissions/Api/Frontend/js/pages/Biobank/details-logo.js
  src/Submissions/Api/Frontend/js/pages/Network/details-logo.js
  src/Submissions/Api/Middleware/UpdateLastLoginMiddleware.cs
  src/Submissions/Api/Startup/Web/WebEntrypoint.cs
  src/Submissions/Api/Utilities/FeedbackMessage.cs
  src/Submissions/Api/Views/Account/ResetPassword.cshtml
  src/Submissions/Api/Views/Home/Index.cshtml
  src/Submissions/Api/Views/Shared/Emails/PasswordReset.cshtml
  src/Submissions/Api/Views/Shared/_FeedbackMessage.cshtml
  src/Submissions/Api/bundleconfig.json
Labels: Area: Submissions

#519 AB#34691: manage user roles cli command
  src/Submissions/Api/Commands/ManageUserRoles.cs
  src/Submissions/Api/Commands/Runners/ManageUserRoles.cs
  src/Submissions/Api/Startup/Cli/CliEntrypoint.cs
Labels: Area: Submissions

#522 AB#85033: Configuration manager
  src/Submissions/Api/Controllers/Directory/AccountController.cs
Labels: Area: Submissions

#524 AB#89414: Added Auth Policy
  .github/workflows/build.directory.yml
  src/Directory/Biobanks.Web/Controllers/ADACController.cs
  src/Submissions/Api/Areas/Admin/Controllers/AnalyticsController.cs
  src/Submissions/Api/Areas/Admin/Controllers/BiobanksController.cs
  src/Submissions/Api/Areas/Admin/Controllers/FundersController.cs
  src/Submissions/Api/Areas/Admin/Controllers/NetworksController.cs
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Controllers/RegistrationDomainRulesController.cs
  src/Submissions/Api/Areas/Admin/Controllers/RequestsController.cs
  src/Submissions/Api/Areas/Admin/Controllers/SiteConfigController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CapabilitiesController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/CollectionsController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/ReportController.cs
  src/Submissions/Api/Areas/Biobank/Controllers/SettingsController.cs
  src/Submissions/Api/Areas/Network/Controllers/ProfileController.cs
  src/Submissions/Api/Areas/Network/Controllers/SettingsController.cs
  src/Submissions/Api/Auth/AuthPolicies.cs
  src/Submissions/Api/Startup/Web/ConfigureWebServices.cs
Labels: Area: CI, Area: Directory, Area: Submissions

#525 AB#94116: Admin: ReferenceDataController fixes
  src/Submissions/Api/Areas/Admin/Controllers/ReferenceDataController.cs
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AccessConditions.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AgeRanges.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AnnualStatisticGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AnnualStatistics.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataProcurementTimeFrame.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataTypeGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/AssociatedDataTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionPercentages.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionStatus.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/CollectionType.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ConsentRestriction.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/Country.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/County.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/DiseaseStatuses.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/DonorCounts.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ExtractionProcedure.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MacroscopicAssessments.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MaterialTypeGroups.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/MaterialTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/PreservationTypes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/RegistrationReason.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/SampleCollectionModes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/ServiceOffering.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/Sexes.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/SopStatus.cshtml
  src/Submissions/Api/Areas/Admin/Views/ReferenceData/StorageTemperatures.cshtml
  src/Submissions/Api/Controllers/ReferenceData/AgeRangeController.cs
  src/Submissions/Api/Frontend/js/pages/Admin/adac-access-conditions.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-age-ranges.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-annual-statistic-group.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-annual-statistics.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-associated-data-procurement-time-frame.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-associated-data-type-group.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-associated-data-types.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-collection-percentages.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-collection-status.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-collection-type.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-consent-restriction.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-country.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-county.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-disease-statuses.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-donor-counts.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-extraction-procedure.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-macro-assessments.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-material-type-groups.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-material-types.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-preservation-types.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-refdata-utility.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-registration-reasons.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-sample-collection-modes.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-service-offering.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-sexes.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-sop-status.js
  src/Submissions/Api/Frontend/js/pages/Admin/adac-storage-temperatures.js
  src/Submissions/Api/Services/Directory/AnnualStatisticService.cs
  src/Submissions/Api/Views/Shared/_Layout.cshtml
Labels: Area: Submissions
